In [1]:
import pandas as pd
import plotly.express as px

df = pd.read_parquet("DSCB310 - UE2 - Shopping Carts.parquet")

In [2]:
df.reset_index(inplace= True)

### **P1:** Prüfen Sie, ob ein Zusammenhang zwischen dem Trinkgeldgeben und dem Vorhandensein eines der folgenden Produkte in einer Bestellung existiert: 24852, 24964, 2120

In [ ]:
# Nach order_id gruppeiren und dann nach Bestellung machen und gegenteil wshkeit coden und chi quadrat test probieren

In [51]:
df_tip = df.copy()

In [61]:
df_tip["p1_products_in_order"] = 0
df_tip.loc[df_tip.product_id.isin([24852, 24964, 2120]), "p1_products_in_order"] = 1

In [88]:
pd.crosstab(df_tip.p1_products_in_order, df.tip, margins= True, normalize= "index")

tip                          0         1
p1_products_in_order
0                     0.553872  0.446128
1                     0.478357  0.521643
All                   0.552504  0.447496

In [90]:
pd.crosstab(df_tip.p1_products_in_order, df.tip, margins= True, normalize= "all")

tip                          0         1       All
p1_products_in_order
0                     0.543834  0.438042  0.981877
1                     0.008669  0.009454  0.018123
All                   0.552504  0.447496  1.000000

In [93]:
0.447496 * 0.018123 # !=0.009454    -> abhängig !

0.008109970008000001

In [63]:
pd.crosstab(df_tip.p1_products_in_order, df.tip, margins= True)

tip                         0        1      All
p1_products_in_order
0                     3335155  2686369  6021524
1                       53167    57978   111145
All                   3388322  2744347  6132669

In [80]:
import scipy.stats as stats

data = pd.crosstab(df_tip.p1_products_in_order, df.tip)

stats.chi2_contingency(data)

(2516.7353829996982,
 0.0,
 1,
 array([[3326913.98194294, 2694610.01805706],
        [  61408.01805706,   49736.98194294]]))

In [84]:
data_1 = pd.crosstab(df_tip.loc[df_tip.p1_products_in_order == 1].order_id, df_tip.tip)
data_2 = pd.crosstab(df_tip.loc[df_tip.p1_products_in_order == 0].order_id, df_tip.tip)

In [85]:
stats.chi2_contingency(data_1)

(111145.00000000001,
 2.4185612205086155e-15,
 107474,
 array([[0.4783571, 0.5216429],
        [0.4783571, 0.5216429],
        [0.4783571, 0.5216429],
        ...,
        [0.4783571, 0.5216429],
        [0.4783571, 0.5216429],
        [0.4783571, 0.5216429]]))

In [86]:
stats.chi2_contingency(data_2)

(6021523.999999999,
 0.0,
 606479,
 array([[ 4.43097794,  3.56902206],
        [ 1.66161673,  1.33838327],
        [ 2.76936121,  2.23063879],
        ...,
        [10.5235726 ,  8.4764274 ],
        [ 4.43097794,  3.56902206],
        [ 2.21548897,  1.78451103]]))

#### old

In [ ]:
df.loc[df.product_id.isin([24852, 24964, 2120])]

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county
148,1726146,18,24964,29,1,56463,41,3,8,14.0,1,Organic Garlic,83,4,produce,fresh vegetables,Calaveras
239,3249426,22,24852,6,0,73241,1,0,15,NaN,0,Banana,24,4,produce,fresh fruits,Fresno
273,2769108,27,24852,3,1,130982,7,0,16,7.0,1,Banana,24,4,produce,fresh fruits,Plumas
333,1393512,34,24964,9,1,53965,25,5,9,4.0,1,Organic Garlic,83,4,produce,fresh vegetables,Calaveras
346,1393510,34,24852,1,1,53965,25,5,9,4.0,1,Banana,24,4,produce,fresh fruits,Calaveras
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132129,5411136,606861,24852,2,1,177763,3,1,15,4.0,0,Banana,24,4,produce,fresh fruits,Mariposa
6132193,1987718,606868,24852,10,1,187352,41,3,11,3.0,1,Banana,24,4,produce,fresh fruits,Glenn
6132294,3738097,606880,24852,1,1,20236,2,5,13,30.0,0,Banana,24,4,produce,fresh fruits,Yolo
6132434,4417394,606892,24852,14,1,113114,41,0,21,8.0,1,Banana,24,4,produce,fresh fruits,Merced
6132477,276524,606895,24964,37,1,70730,38,0,11,6.0,0,Organic Garlic,83,4,produce,fresh vegetables,Calaveras

In [ ]:
pd.crosstab(df.product_id.isin([24852, 24964, 2120]), df.tip, margins= True)

tip               0        1      All
product_id
False       3335155  2686369  6021524
True          53167    57978   111145
All         3388322  2744347  6132669

In [ ]:
pd.crosstab(df.product_id.isin([24852, 24964, 2120]), df.tip, margins= True, normalize= "index")

tip                0         1
product_id
False       0.553872  0.446128
True        0.478357  0.521643
All         0.552504  0.447496

In [ ]:
df_tip1 = df.loc[df.product_id.isin([24852, 24964, 2120])][["product_id", "tip"]].reset_index(drop= True)
df_tip1.head()

   product_id  tip
0       24964    1
1       24852    0
2       24852    1
3       24964    1
4       24852    1

In [ ]:
df_tip1.loc[df_tip1.tip == 1]["tip"].count() / df_tip1.tip.count()

0.5216428989158307

In [ ]:
df_tip1.loc[df_tip1.tip == 0]["tip"].count() / df_tip1.tip.count()

0.47835710108416934

In [ ]:
df_tip2 = df.loc[~df.product_id.isin([24852, 24964, 2120])][["product_id", "tip"]].reset_index(drop= True)
df_tip2.head()

   product_id  tip
0       13176    1
1       11109    1
2       10246    1
3       22035    1
4       49683    1

In [ ]:
df_tip2.loc[df_tip2.tip == 1]["tip"].count() / df_tip2.tip.count()

0.446127757690578

In [ ]:
df_tip2.loc[df_tip2.tip == 0]["tip"].count() / df_tip2.tip.count()

0.553872242309422

In [ ]:
df_tip1.corr()

            product_id       tip
product_id    1.000000 -0.076068
tip          -0.076068  1.000000

In [ ]:
df_tip2.corr()

            product_id       tip
product_id    1.000000 -0.000941
tip          -0.000941  1.000000

In [ ]:
pd.crosstab(df.product_id.isin([24852, 24964, 2120]), df.tip, margins= False).reset_index(drop= True)

tip        0        1
0    3335155  2686369
1      53167    57978

In [ ]:
import scipy.stats as stats

data = [[3335155, 2686369], [53167, 57978]]

stats.chi2_contingency(data)

(2516.7353829996982,
 0.0,
 1,
 array([[3326913.98194294, 2694610.01805706],
        [  61408.01805706,   49736.98194294]]))