In [2]:
import pandas as pd

In [23]:
df = pd.read_parquet("DSCB310 - UE2 - Shopping Carts.parquet")

In [47]:
df.reset_index(inplace= True)

In [48]:
df

,level_0,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county
0,0,5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo
1,1,5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo
2,2,5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo
3,3,5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo
4,4,5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132664,6132664,2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras
6132665,6132665,3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador
6132666,6132666,3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador
6132667,6132667,3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador
6132668,6132668,3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6132669 entries, 0 to 6132668
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   index                   int64
 1   order_id                int64
 2   product_id              int64
 3   add_to_cart_order       int64
 4   reordered               int64
 5   user_id                 int64
 6   order_number            int64
 7   order_dow               int64
 8   order_hour_of_day       int64
 9   days_since_prior_order  float64
 10  tip                     int32
 11  product_name            object
 12  aisle_id                int64
 13  department_id           int64
 14  department              object
 15  aisle                   object
 16  county                  object
dtypes: float64(1), int32(1), int64(11), object(4)
memory usage: 772.0+ MB

In [ ]:
#aslkdasd