In [ ]:
import pandas as pd
import plotly.express as px

df = pd.read_parquet("DSCB310 - UE2 - Shopping Carts.parquet")

In [ ]:
df.reset_index(inplace= True)

### **P4:** Spielt die Vergangenheit eines Users eine Rolle in Hinblick auf die Trinkgeldwahrscheinlichkeit, oder kommt es nur auf Inhalt und Parameter der aktuellen Bestellung an?

#### User-Vergangenheit

In [ ]:
# aktuelle Bestellung raussnehmen und tip_wshk berechnen und mit aktueller Bestellung vergleichen

In [129]:
df_userhh = df.copy()

In [136]:
df_userh1 = df_userhh.groupby("user_id", as_index= False).agg(orders = ("order_id", "unique"), reordered= ("reordered", "mean"), tip= ("tip", "mean"))

In [132]:
last_orders = []

for ind, order in enumerate(df_userh1.orders):
 last_orders.append(df_userh1.orders[ind][-1])

In [133]:
df_userhh.loc[df_userhh.order_id.isin(last_orders)].head()

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county
341211,5575428,33753,13727,2,0,52465,1,6,19,NaN,0,Immunity Probiotic,70,11,personal care,digestion,Amador
341212,5575427,33753,8229,3,0,52465,1,6,19,NaN,0,Pain Reliever and Fever Reducer Tablets,133,11,personal care,muscles joints pain relief,Amador
341213,5575426,33753,31506,1,0,52465,1,6,19,NaN,0,Extra Virgin Olive Oil,19,13,pantry,oils vinegars,Amador
499533,5702704,49468,8204,11,0,3547,2,6,12,30.0,0,Traditional Favorites Tomato & Basil Pasta Sauce,9,9,dry goods pasta,pasta sauce,Santa Cruz
499534,5702712,49468,29569,2,1,3547,2,6,12,30.0,0,Fruit On The Bottom Strawberry Yogurt,120,16,dairy eggs,yogurt,Santa Cruz

In [135]:
df_userhh.drop(df_userhh.loc[df_userhh.order_id.isin(last_orders)].index, inplace= True)

In [137]:
df_userh1.orders[0][-1]

560872

In [140]:
df_userh = df_userhh.groupby("user_id", as_index= False).agg(orders = ("order_id", "nunique"), reordered= ("reordered", "mean"), tip= ("tip", "mean"))

In [141]:
df_userh

       user_id  orders  reordered       tip
0            3      11   0.612500  0.925000
1            7      20   0.668293  0.668293
2           14      13   0.325359  0.478469
3           23       4   0.100000  0.000000
4           25       2   0.058824  0.352941
...        ...     ...        ...       ...
37362   206186       3   0.241379  0.758621
37363   206189       5   0.542857  0.142857
37364   206192      13   0.644444  0.255556
37365   206195      19   0.432836  0.149254
37366   206201      31   0.565000  0.457500

[37367 rows x 4 columns]

#### old

In [ ]:
df_userh.loc[df_userh.orders < df_userh.orders]

In [ ]:
df_userh.loc[df_userh.orders >= df_userh.orders.quantile(0.8)]

In [ ]:
list_bins = [1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
df_userh["orders_cut"] = pd.cut(df_userh["orders"], bins= list_bins, include_lowest= True)

In [ ]:
df_userh

In [ ]:
df_userh1 = df_userh.groupby("orders_cut", as_index= False).agg(orders= ("orders", "sum"), reordered= ("reordered", "mean"), tip= ("tip", "mean"))
df_userh1

In [ ]:
df_userh1["orders_cut"] = df_userh1["orders_cut"].astype("str")

In [ ]:
px.bar(df_userh1, x= "orders_cut", y= "tip")

#### Inhalt und Parameter einer Bestellung

In [ ]:
# wieder aktuelle bestellung rausnehmen und tipp_wshk frühere mit aktueller vgl und warenkorb vergeleichen sowie parameter county, department