In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os 
import random
import plotly.express as px
from scipy.stats import chi2_contingency
import matplotlib.pyplot as plt
from scipy.stats.contingency import relative_risk

https://docs.scipy.org/doc/scipy/reference/stats.contingency.html

https://docs.scipy.org/doc/scipy/reference/stats.mstats.html

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.contingency.relative_risk.html#scipy.stats.contingency.relative_risk

Anteilswerttest

sachen to do: schnellere methode für den diff abgleich finden
              
              schauen ob andere test dafür geiegnet sind

              geomap rumprobieren

In [2]:
df = pd.read_parquet("Shopping Carts.parquet")
df.reset_index(inplace=True)

In [3]:
df.groupby("order_id").agg(order_size=("add_to_cart_order","max")).reset_index()
df = pd.merge(df,df.groupby("order_id").agg(order_size=("add_to_cart_order","max")).reset_index())

In [4]:
df

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county,order_size
0,5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo,8
1,5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo,8
2,5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo,8
3,5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo,8
4,5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132664,2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras,8
6132665,3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador,4
6132666,3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador,4
6132667,3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador,4
6132668,3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador,4

### regionale unterschiede

In [5]:
df_regional = df.groupby("county").agg(count = ("order_id","nunique")).reset_index()

In [6]:
df_regional = df_regional.sort_values("count")

In [14]:
exceptions = df_regional.head(3).county.unique()

In [23]:
df_regional.tail(10)

        county  count
42  Santa Cruz  19340
20    Mariposa  23234
25    Monterey  24142
54     Ventura  24684
49      Sutter  25420
13        Kern  31601
8       Fresno  32685
28      Orange  34496
9        Glenn  35541
3    Calaveras  43559

große diskrepanz in den ausleihzahlen besonder San Bernardino, Placer, Trinity als problemfall

dazu map

#### top produkte und aisle

In [8]:
df_products = df.groupby("product_name").agg(coun = ("product_name","count")).reset_index().sort_values("coun",ascending=False)

In [31]:
df_products.tail(50)

                                            product_name  coun
32797                                      Pork Shoulder     1
10315                  Creamy Supreme Frosting Chocolate     1
4711                       Body Powder Original Strength     1
41094       The Amazing Prune Light Prune Juice Cocktail     1
19176                                 Imperial Champagne     1
10285                         Creamy Oat Bran Hot Cereal     1
19119                                    Iced Tea, Lemon     1
19117                            Iced Tea with Raspberry     1
19027                         Ice Cream Cake Celebration     1
19047                Ice Cream Super Chunky Cookie Dough     1
32764                                Pore Refining Toner     1
19039                  Ice Cream Mexican Chili Chocolate     1
28320                           Organic Microgreens Kale     1
28321      Organic Microwave Light Butter Flavor Popcorn     1
28322           Organic Microwave Popcorn No Salt or Oil     1
40985  Tender Favorites Salmon & Crab Meat in Sauce W...     1
4833   BoomChickaPop Holidrizzle White Chocolate Pepp...     1
35924                           Salsa Verde Medium Salsa     1
4806                 Boneless Pork Rib Shaped Potty Meal     1
4838                          Borage Therapy Cleanse Bar     1
19025                    Ice Cream Bars Vanilla Flavored     1
19016                              Ic Caramel Cone 28 Oz     1
40972                                    Ten Orange Soda     1
28335               Organic Milk Chocolate Baking Wafers     1
40968                                 Tempura Batter Mix     1
4843                                            Bordeaux     1
19008                                Ibuprofen PM 200 Mg     1
13343                 Family Pack Chicken Breast Patties     1
19065  Ice Cream, Vanilla Bean Espresso, Limited Edition     1
41039                               Terry Scouring Cloth     1
4775                 Bone Strength Take Care Supplements     1
41038                             Terrine De Saumon Fume     1
13319                 Fajita Whole Wheat Flour Tortillas     1
4756                    Bolthouse Farms Baby Cut Carrots     1
4758                                          Bomba Rice     1
10279  Creamy Milk Chocolate with Crisped Rice Chocol...     1
4767                         Bone Broth Protein Turmeric     1
41028                                   Teriyaki Noodles     1
4774                             Bone Strength Take Care     1
35910                   Salsa Habanera, Green, Extra Hot     1
28300                        Organic Medium Chunky Salsa     1
4776                          Bone Up Calcium Supplement     1
4777                   Bone Up Superior Calcium Capsules     1
35911                     Salsa Habanera, Red, Extra Hot     1
10277               Creamy Milk & Honey Splash Body Wash     1
28279  Organic Mash Ups Tropical Flavored Squeezable ...     1
41011                                    Tequila, Blanco     1
19081                   Ice Sugar Free Gum, Arctic Chill     1
19075  Ice Peppermint Menthol Drops Cough Suppressant...     1
19683                         Jalapeño Heat Potato Chips     1

In [9]:
df_aisle = df.groupby("aisle").agg(coun = ("aisle","count")).reset_index().sort_values("coun",ascending=False)

In [10]:
df_aisle

                          aisle    coun
50                 fresh fruits  679534
53             fresh vegetables  639485
98   packaged vegetables fruits  333355
133                      yogurt  274700
93              packaged cheese  184845
..                          ...     ...
44                 eye ear care    1744
3           baby bath body care    1686
2              baby accessories    1463
8                        beauty    1195
58                 frozen juice     996

[134 rows x 2 columns]

#### oder_size je county

In [76]:
df

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county,order_size
0,5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo,8
1,5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo,8
2,5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo,8
3,5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo,8
4,5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132664,2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras,8
6132665,3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador,4
6132666,3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador,4
6132667,3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador,4
6132668,3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador,4

In [79]:
df_order_size = df.groupby(["order_id","county"])[["order_size"]].max().reset_index()

In [83]:
df_order_size = df_order_size.groupby("county")[["order_size"]].median().reset_index()

In [86]:
df_order_size.sort_values("order_size")

             county  order_size
0           Alameda         3.0
10         Humboldt         3.0
34   San Bernardino         3.0
29           Placer         3.5
4            Colusa         5.0
21        Mendocino         5.0
26             Napa         5.0
2            Amador         5.0
48       Stanislaus         6.0
47           Sonoma         6.0
51          Trinity         6.0
32       Sacramento         6.0
12             Inyo         6.0
15             Lake         6.0
44           Sierra         7.0
42       Santa Cruz         7.0
37      San Joaquin         7.0
55             Yolo         7.0
19            Marin         7.0
56             Yuba         7.0
38  San Luis Obispo         8.0
41      Santa Clara         8.0
7         El Dorado         8.0
6         Del Norte         8.0
30           Plumas         8.0
13             Kern         8.0
18           Madera         8.0
45         Siskiyou         8.0
16           Lassen         8.0
50           Tehama         8.0
23            Modoc         8.0
52           Tulare         8.0
27           Nevada         8.0
46           Solano         9.0
43           Shasta         9.0
54          Ventura         9.0
8            Fresno         9.0
20         Mariposa         9.0
35        San Diego         9.0
24             Mono         9.0
9             Glenn         9.0
33       San Benito         9.0
11         Imperial         9.0
25         Monterey         9.0
17      Los Angeles        10.0
49           Sutter        10.0
3         Calaveras        10.0
28           Orange        10.0
31        Riverside        10.0
39        San Mateo        10.0
36    San Francisco        10.0
14            Kings        11.0
40    Santa Barbara        11.0
1            Alpine        11.0
22           Merced        11.0
53         Tuolumne        11.0
5      Contra Costa        11.0

#### top aisle pro county

In [7]:
df_3 = df.groupby(["county","aisle"]).agg(anzahl=("aisle","count")).reset_index()

In [8]:
counties = df_3.county.unique().tolist()
for i in counties:
    df_3.loc[df_3["county"] == i,"rank"] = df_3.loc[df_3["county"] == i].anzahl.rank(method="min",ascending=False)

In [37]:
df_3

       county                          aisle  anzahl   rank
0     Alameda         air fresheners candles       6  115.0
1     Alameda                    asian foods      10  107.0
2     Alameda               baby accessories       1  126.0
3     Alameda            baby bath body care       1  126.0
4     Alameda              baby food formula      29   77.0
...       ...                            ...     ...    ...
7336     Yuba              trash bags liners     187   97.0
7337     Yuba           vitamins supplements     314   80.0
7338     Yuba  water seltzer sparkling water    7977    3.0
7339     Yuba                    white wines     375   71.0
7340     Yuba                         yogurt    8243    2.0

[7341 rows x 4 columns]

#### top 10 aisled pro county

In [13]:
df_4 = df_3[df_3["rank"].isin(range(11))]
df_4 = df_4.sort_values(["county","rank"])

In [14]:
df_4

       county                          aisle  anzahl  rank
49    Alameda                   fresh fruits    2824   1.0
52    Alameda               fresh vegetables     982   2.0
132   Alameda                         yogurt     933   3.0
130   Alameda  water seltzer sparkling water     821   4.0
97    Alameda     packaged vegetables fruits     610   5.0
...       ...                            ...     ...   ...
7290     Yuba                           milk    4686   6.0
7232     Yuba                 chips pretzels    4492   7.0
7249     Yuba            energy granola bars    3931   8.0
7324     Yuba                    soft drinks    3830   9.0
7300     Yuba                packaged cheese    3737  10.0

[571 rows x 4 columns]

In [40]:
df_3

       county                          aisle  anzahl   rank
0     Alameda         air fresheners candles       6  115.0
1     Alameda                    asian foods      10  107.0
2     Alameda               baby accessories       1  126.0
3     Alameda            baby bath body care       1  126.0
4     Alameda              baby food formula      29   77.0
...       ...                            ...     ...    ...
7336     Yuba              trash bags liners     187   97.0
7337     Yuba           vitamins supplements     314   80.0
7338     Yuba  water seltzer sparkling water    7977    3.0
7339     Yuba                    white wines     375   71.0
7340     Yuba                         yogurt    8243    2.0

[7341 rows x 4 columns]

#### frage wegen mengen bias (weil counties ja unterschiedliche ausleihzeilen haben dann den durchschnitt von je county nehmen oder den nochmal auf gesmatmenge projezieren)

In [9]:
df_5 = df_3.groupby("aisle").agg(rank_mean=("rank","mean")).reset_index()

In [10]:
df_6 = pd.merge(df_3,df_5)

In [11]:
df_8 = df_6.loc[(df_6["rank"] > df_6.rank_mean * 1.5)]

In [213]:
df_8

             county                          aisle  anzahl   rank  rank_mean
55          Alameda                    asian foods      10  107.0  52.290909
81             Napa                    asian foods      25   93.0  52.290909
211         Alameda              baby food formula      29   77.0  34.600000
217       Del Norte              baby food formula      67   73.0  34.600000
221        Humboldt              baby food formula       9   83.0  34.600000
...             ...                            ...     ...    ...        ...
7161     Sacramento  water seltzer sparkling water    1423   14.0   8.859649
7165  San Francisco  water seltzer sparkling water     438   63.0   8.859649
7166    San Joaquin  water seltzer sparkling water      59   40.0   8.859649
7245       Humboldt                         yogurt     203    8.0   4.018182
7284        Trinity                         yogurt      25   12.0   4.018182

[304 rows x 5 columns]

In [15]:
df_8[df_8.county.isin(exceptions)]

              county                       aisle  anzahl  rank  rank_mean
1301         Trinity                      cereal       1  75.0  22.854545
1358         Trinity              chips pretzels       9  26.0   9.719298
1690         Trinity               cookies cakes       1  75.0  39.666667
1730  San Bernardino                    crackers       1  30.0  18.947368
1747         Trinity                    crackers       8  30.0  18.947368
2230  San Bernardino                        eggs       1  30.0  17.771930
2302         Trinity         energy granola bars       1  75.0  22.854545
2725  San Bernardino                fresh fruits       5  11.0   1.508772
2888          Placer            fresh vegetables       8   6.0   2.315789
2893  San Bernardino            fresh vegetables       3  19.0   2.315789
3235         Trinity                frozen meals       3  57.0  24.181818
3382          Placer              frozen produce       1  36.0  15.857143
3879          Placer               ice cream ice       2  26.0  14.859649
4537          Placer                        milk       2  26.0   6.929825
4542  San Bernardino                        milk       4  13.0   6.929825
4831         Trinity      nuts seeds dried fruit       1  75.0  30.000000
5094  San Bernardino             packaged cheese       1  30.0   6.859649
5370  San Bernardino  packaged vegetables fruits       4  13.0   3.543860
5387         Trinity  packaged vegetables fruits      82   6.0   3.543860
5444         Trinity                 paper goods       2  66.0  35.754386
6474         Trinity         soup broth bouillon       5  44.0  26.818182
6514  San Bernardino             soy lactosefree       1  30.0  11.157895
6531         Trinity             soy lactosefree      14  22.0  11.157895
6850         Trinity                         tea       1  75.0  38.803571
6960         Trinity        tortillas flat bread       1  75.0  48.054545
7284         Trinity                      yogurt      25  12.0   4.018182

In [12]:
df_9 = df_6.loc[(df_6["rank"] < df_6.rank_mean * 0.5)]

In [20]:
df_9

       county                         aisle  anzahl  rank   rank_mean
29     Placer        air fresheners candles       1  36.0  108.600000
104   Trinity                   asian foods      10  25.0   52.290909
212    Alpine             baby food formula    2647   9.0   34.600000
219    Fresno             baby food formula    5425  12.0   34.600000
220     Glenn             baby food formula    6390  13.0   34.600000
...       ...                           ...     ...   ...         ...
7231  Trinity                   white wines       7  32.0   97.693878
7277   Sierra                        yogurt    1567   2.0    4.018182
7283   Tehama                        yogurt     718   1.0    4.018182
7289     Yuba                        yogurt    8243   2.0    4.018182
7293   Colusa  bulk grains rice dried goods     135  55.0  111.686275

[228 rows x 5 columns]

In [21]:
df_9[df_9.county.isin(exceptions)]

              county                       aisle  anzahl  rank   rank_mean
29            Placer      air fresheners candles       1  36.0  108.600000
104          Trinity                 asian foods      10  25.0   52.290909
510           Placer               beers coolers       2  26.0   84.634615
515   San Bernardino               beers coolers       8   4.0   84.634615
567   San Bernardino           body lotions soap       4  13.0   85.836364
...              ...                         ...     ...   ...         ...
6619          Placer  specialty wines champagnes       1  36.0  112.854167
6723          Placer                     spirits       3  20.0   95.979592
6728  San Bernardino                     spirits       2  24.0   95.979592
6833  San Bernardino                         tea       6   6.0   38.803571
7231         Trinity                 white wines       7  32.0   97.693878

[66 rows x 5 columns]

In [59]:
df_9.columns

Index(['county', 'aisle', 'anzahl', 'rank', 'rank_mean'], dtype='object')

In [13]:
df_2 = df.copy()
relevant = []
for i in df_9.values:
    
    df_11 = df_2[df_2.aisle == i[1]].groupby("county")[["aisle"]].count().reset_index()
    merged = df_2[~(df_2.index.isin(df_2[df_2.aisle == i[1]].index))]
    df_test = pd.merge(df_11,merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index())
    df_test.loc[df_test.county != i[0],["aisle","not_aisle"]] = df_test.loc[df_test.county != i[0]].aisle.sum(),df_test.loc[df_test.county != i[0]].not_aisle.sum()
    
    ch2, p, dof, expected = chi2_contingency(df_test.loc[(df_test.county == np.delete(df_test.county.unique(),np.where(df_test.county.unique() == i[0]))[-1]) | (df_test.county ==i[0]) ].set_index("county"))
    if p < 0.05:
        relevant.append(i)

In [16]:
df_test

             county  aisle  not_aisle
0            Alpine   3290    6046094
1            Amador   3290    6046094
2         Calaveras   3290    6046094
3            Colusa    135      34808
4      Contra Costa   3290    6046094
5         Del Norte   3290    6046094
6         El Dorado   3290    6046094
7            Fresno   3290    6046094
8             Glenn   3290    6046094
9          Imperial   3290    6046094
10             Inyo   3290    6046094
11             Kern   3290    6046094
12            Kings   3290    6046094
13             Lake   3290    6046094
14      Los Angeles   3290    6046094
15           Madera   3290    6046094
16            Marin   3290    6046094
17         Mariposa   3290    6046094
18        Mendocino   3290    6046094
19           Merced   3290    6046094
20            Modoc   3290    6046094
21             Mono   3290    6046094
22         Monterey   3290    6046094
23             Napa   3290    6046094
24           Nevada   3290    6046094
25           Orange   3290    6046094
26           Plumas   3290    6046094
27        Riverside   3290    6046094
28       Sacramento   3290    6046094
29       San Benito   3290    6046094
30        San Diego   3290    6046094
31    San Francisco   3290    6046094
32      San Joaquin   3290    6046094
33  San Luis Obispo   3290    6046094
34        San Mateo   3290    6046094
35    Santa Barbara   3290    6046094
36      Santa Clara   3290    6046094
37       Santa Cruz   3290    6046094
38           Shasta   3290    6046094
39           Sierra   3290    6046094
40         Siskiyou   3290    6046094
41           Solano   3290    6046094
42           Sonoma   3290    6046094
43       Stanislaus   3290    6046094
44           Sutter   3290    6046094
45           Tehama   3290    6046094
46           Tulare   3290    6046094
47         Tuolumne   3290    6046094
48          Ventura   3290    6046094
49             Yolo   3290    6046094
50             Yuba   3290    6046094

In [15]:
relevant.__len__()

200

In [37]:
df_8

             county                          aisle  anzahl   rank  rank_mean
55          Alameda                    asian foods      10  107.0  52.290909
81             Napa                    asian foods      25   93.0  52.290909
211         Alameda              baby food formula      29   77.0  34.600000
217       Del Norte              baby food formula      67   73.0  34.600000
221        Humboldt              baby food formula       9   83.0  34.600000
...             ...                            ...     ...    ...        ...
7161     Sacramento  water seltzer sparkling water    1423   14.0   8.859649
7165  San Francisco  water seltzer sparkling water     438   63.0   8.859649
7166    San Joaquin  water seltzer sparkling water      59   40.0   8.859649
7245       Humboldt                         yogurt     203    8.0   4.018182
7284        Trinity                         yogurt      25   12.0   4.018182

[304 rows x 5 columns]

In [38]:
df_2 = df.copy()
relevant2 = []
for i in df_8.values:
    
    df_11 = df_2[df_2.aisle == i[1]].groupby("county")[["aisle"]].count().reset_index()
    merged = df_2[~(df_2.index.isin(df_2[df_2.aisle == i[1]].index))]
    df_test = pd.merge(df_11,merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index())
    df_test.loc[df_test.county != i[0],["aisle","not_aisle"]] = df_test.loc[df_test.county != i[0]].aisle.sum(),df_test.loc[df_test.county != i[0]].not_aisle.sum()
    
    ch2, p, dof, expected = chi2_contingency(df_test.loc[(df_test.county == np.delete(df_test.county.unique(),np.where(df_test.county.unique() == "Alameda"))[-1]) | (df_test.county ==i[0]) ].set_index("county"))
    if p < 0.05:
        relevant2.append(i)

In [142]:
np.delete(df_test.county.unique(),np.where(df_test.county.unique() == "Alameda"))[-1]

'Yuba'

In [40]:
relevant2.__len__()

284

In [25]:
df_tes4 = pd.DataFrame(relevant,columns=df_9.columns)

In [196]:
df_9

       county                         aisle  anzahl  rank   rank_mean
29     Placer        air fresheners candles       1  36.0  108.600000
104   Trinity                   asian foods      10  25.0   52.290909
212    Alpine             baby food formula    2647   9.0   34.600000
219    Fresno             baby food formula    5425  12.0   34.600000
220     Glenn             baby food formula    6390  13.0   34.600000
...       ...                           ...     ...   ...         ...
7231  Trinity                   white wines       7  32.0   97.693878
7277   Sierra                        yogurt    1567   2.0    4.018182
7283   Tehama                        yogurt     718   1.0    4.018182
7289     Yuba                        yogurt    8243   2.0    4.018182
7293   Colusa  bulk grains rice dried goods     135  55.0  111.686275

[228 rows x 5 columns]

In [22]:
df_2 = df.copy()
relevant3 = []
for i in df_9.values:
    
    df_11 = df_2[df_2.aisle == i[1]].groupby("county")[["aisle"]].count().reset_index()
    merged = df_2[~(df_2.index.isin(df_2[df_2.aisle == i[1]].index))]
    df_test = pd.merge(df_11,merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index())
    df_test.loc[df_test.county != i[0],["aisle","not_aisle"]] = df_test.loc[df_test.county != i[0]].aisle.sum(),df_test.loc[df_test.county != i[0]].not_aisle.sum()
    
    df_test3 = df_test.loc[(df_test.county == np.delete(df_test.county.unique(),np.where(df_test.county.unique() == i[0]))[-1]) | (df_test.county ==i[0]) ].set_index("county")
    result = relative_risk(df_test3[df_test3.index == i[0]].values[0][0],df_test3[df_test3.index == i[0]].values[0][1]+df_test3[df_test3.index == i[0]].values[0][0],df_test3[df_test3.index != i[0]].values[0][0],df_test3[df_test3.index != i[0]].values[0][1]+df_test3[df_test3.index != i[0]].values[0][0])
    if result.confidence_interval(confidence_level=0.95)[0] > 1:
                relevant3.append(i)

In [24]:
relevant3.__len__()

205

In [42]:
df_2 = df.copy()
relevant4 = []
for i in df_8.values:
    
    df_11 = df_2[df_2.aisle == i[1]].groupby("county")[["aisle"]].count().reset_index()
    merged = df_2[~(df_2.index.isin(df_2[df_2.aisle == i[1]].index))]
    df_test = pd.merge(df_11,merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index())
    df_test.loc[df_test.county != i[0],["aisle","not_aisle"]] = df_test.loc[df_test.county != i[0]].aisle.sum(),df_test.loc[df_test.county != i[0]].not_aisle.sum()
    
    df_test3 = df_test.loc[(df_test.county == np.delete(df_test.county.unique(),np.where(df_test.county.unique() == i[0]))[-1]) | (df_test.county ==i[0]) ].set_index("county")
    result = relative_risk(df_test3[df_test3.index == i[0]].values[0][0],df_test3[df_test3.index == i[0]].values[0][1]+df_test3[df_test3.index == i[0]].values[0][0],df_test3[df_test3.index != i[0]].values[0][0],df_test3[df_test3.index != i[0]].values[0][1]+df_test3[df_test3.index != i[0]].values[0][0])
    if result.confidence_interval(confidence_level=0.99)[0] > 1 or result.confidence_interval(confidence_level=0.99)[1] < 1:
                relevant4.append(i)

In [44]:
relevant4.__len__()

289

In [26]:
df_tes5 = pd.DataFrame(relevant3,columns=df_9.columns)

In [27]:
df_tes5

      county                         aisle  anzahl  rank   rank_mean
0     Alpine             baby food formula    2647   9.0   34.600000
1     Fresno             baby food formula    5425  12.0   34.600000
2      Glenn             baby food formula    6390  13.0   34.600000
3     Nevada             baby food formula     835  15.0   34.600000
4     Orange             baby food formula    6300  13.0   34.600000
..       ...                           ...     ...   ...         ...
200  Trinity                   white wines       7  32.0   97.693878
201   Sierra                        yogurt    1567   2.0    4.018182
202   Tehama                        yogurt     718   1.0    4.018182
203     Yuba                        yogurt    8243   2.0    4.018182
204   Colusa  bulk grains rice dried goods     135  55.0  111.686275

[205 rows x 5 columns]

In [32]:
pd.concat([df_tes4,df_tes5]).drop_duplicates(keep=False)

              county                       aisle  anzahl  rank   rank_mean
83            Alpine            fresh vegetables   13096   1.0    2.315789
86            Lassen            fresh vegetables    1850   1.0    2.315789
88         Riverside            fresh vegetables    4740   1.0    2.315789
90   San Luis Obispo            fresh vegetables    3259   1.0    2.315789
93       Santa Clara            fresh vegetables    8899   1.0    2.315789
18            Placer               beers coolers       2  26.0   84.634615
24    San Bernardino                       bread       6   6.0   12.315789
35    San Bernardino             candy chocolate       4  13.0   31.000000
53    San Bernardino           cocoa drink mixes       1  30.0  105.833333
55    San Bernardino                      coffee       3  19.0   43.381818
63    San Bernardino             dish detergents       2  24.0   65.894737
82            Placer                 facial care       1  36.0  114.090909
111           Placer     frozen vegan vegetarian       3  20.0   69.071429
165           Placer                 shave needs       1  36.0  117.196078
183           Placer  specialty wines champagnes       1  36.0  112.854167

In [33]:
df_2 = df.copy()
relevant = []
for i in pd.concat([df_tes4,df_tes5]).drop_duplicates(keep=False).values:
    
    df_11 = df_2[df_2.aisle == i[1]].groupby("county")[["aisle"]].count().reset_index()
    merged = df_2[~(df_2.index.isin(df_2[df_2.aisle == i[1]].index))]
    df_test = pd.merge(df_11,merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index())
    df_test.loc[df_test.county != i[0],["aisle","not_aisle"]] = df_test.loc[df_test.county != i[0]].aisle.sum(),df_test.loc[df_test.county != i[0]].not_aisle.sum()
    
    ch2, p, dof, expected = chi2_contingency(df_test.loc[(df_test.county == np.delete(df_test.county.unique(),np.where(df_test.county.unique() == i[0]))[-1]) | (df_test.county ==i[0]) ].set_index("county"))
    print(i[0],p)

Alpine 3.7622803811415533e-13
Lassen 1.9065650145223485e-34
Riverside 0.0005215719198080733
San Luis Obispo 3.6384865940011096e-10
Santa Clara 3.734382857165846e-28
Placer 0.06790247276278678
San Bernardino 0.07765923797341606
San Bernardino 0.06458071569645682
San Bernardino 0.21393905570026148
San Bernardino 0.11143182972470737
San Bernardino 0.09971417702310345
Placer 0.20035576623590004
Placer 0.06404614010260831
Placer 0.16214478522225725
Placer 0.20220266798929115

In [36]:
df_2 = df.copy()
relevant3 = []
for i in pd.concat([df_tes4,df_tes5]).drop_duplicates(keep=False).values:
    
    df_11 = df_2[df_2.aisle == i[1]].groupby("county")[["aisle"]].count().reset_index()
    merged = df_2[~(df_2.index.isin(df_2[df_2.aisle == i[1]].index))]
    df_test = pd.merge(df_11,merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index())
    df_test.loc[df_test.county != i[0],["aisle","not_aisle"]] = df_test.loc[df_test.county != i[0]].aisle.sum(),df_test.loc[df_test.county != i[0]].not_aisle.sum()
    
    df_test3 = df_test.loc[(df_test.county == np.delete(df_test.county.unique(),np.where(df_test.county.unique() == i[0]))[-1]) | (df_test.county ==i[0]) ].set_index("county")
    result = relative_risk(df_test3[df_test3.index == i[0]].values[0][0],df_test3[df_test3.index == i[0]].values[0][1]+df_test3[df_test3.index == i[0]].values[0][0],df_test3[df_test3.index != i[0]].values[0][0],df_test3[df_test3.index != i[0]].values[0][1]+df_test3[df_test3.index != i[0]].values[0][0])
    print(i[0], result.confidence_interval(confidence_level=0.99))
    
    # if result.confidence_interval(confidence_level=0.95)[0] > 1:
    #             relevant3.append(i)

Alpine ConfidenceInterval(low=0.9209753974300848, high=0.9616236830930587)
Lassen ConfidenceInterval(low=0.7213231405753907, high=0.8092827024165741)
Riverside ConfidenceInterval(low=0.9197931406663725, high=0.9877421097769051)
San Luis Obispo ConfidenceInterval(low=0.8629932203056192, high=0.9406011931851931)
Santa Clara ConfidenceInterval(low=0.8716810051212447, high=0.9185357079281524)
Placer ConfidenceInterval(low=0.8617769638713105, high=32.46901138386429)
San Bernardino ConfidenceInterval(low=0.8075714407499626, high=6.337073214979036)
San Bernardino ConfidenceInterval(low=0.8274774771628706, high=10.501320800406825)
San Bernardino ConfidenceInterval(low=0.7493989287642417, high=127.27507908875909)
San Bernardino ConfidenceInterval(low=0.7231397461560347, high=13.73535115879162)
San Bernardino ConfidenceInterval(low=0.7681935942702541, high=28.63326470916716)
Placer ConfidenceInterval(low=0.7770344651748091, high=133.02015666750913)
Placer ConfidenceInterval(low=0.8311800128092264, high=15.995193348621799)
Placer ConfidenceInterval(low=0.8765545326056884, high=150.07997412978125)
Placer ConfidenceInterval(low=0.7727676948293949, high=132.2968355245016)

In [28]:
df_tes4

      county                         aisle  anzahl  rank   rank_mean
0     Alpine             baby food formula    2647   9.0   34.600000
1     Fresno             baby food formula    5425  12.0   34.600000
2      Glenn             baby food formula    6390  13.0   34.600000
3     Nevada             baby food formula     835  15.0   34.600000
4     Orange             baby food formula    6300  13.0   34.600000
..       ...                           ...     ...   ...         ...
195  Trinity                   white wines       7  32.0   97.693878
196   Sierra                        yogurt    1567   2.0    4.018182
197   Tehama                        yogurt     718   1.0    4.018182
198     Yuba                        yogurt    8243   2.0    4.018182
199   Colusa  bulk grains rice dried goods     135  55.0  111.686275

[200 rows x 5 columns]

In [204]:
df_11 = df_2[df_2.aisle == "baby food formula"].groupby("county")[["aisle"]].count().reset_index()
merged = df_2[~(df_2.index.isin(df_2[df_2.aisle == "baby food formula"].index))]
df_test = pd.merge(df_11,merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index())
df_test.loc[df_test.county != "Alpine",["aisle","not_aisle"]] = df_test.loc[df_test.county != "Alpine"].aisle.sum(),df_test.loc[df_test.county != "Alpine"].not_aisle.sum()
    
df_test3 = df_test.loc[(df_test.county == np.delete(df_test.county.unique(),np.where(df_test.county.unique() == "Alpine"))[-1]) | (df_test.county =="Alpine") ].set_index("county")
result = relative_risk(df_test3[df_test3.index == "Alpine"].values[0][1],df_test3[df_test3.index == "Alpine"].values[0][1]+df_test3[df_test3.index == "Alpine"].values[0][0],df_test3[df_test3.index != "Alpine"].values[0][1],df_test3[df_test3.index != "Alpine"].values[0][1]+df_test3[df_test3.index != "Alpine"].values[0][0])

In [205]:
result.confidence_interval(confidence_level=0.95)

ConfidenceInterval(low=0.9910290112401102, high=0.9925547102501968)

In [203]:
df_test3

        aisle  not_aisle
county
Alpine   2647     130636
Yuba    70476    5928504

In [30]:
df_test3.values[1,0]

1

In [31]:
result = relative_risk(df_test3.values[1,0],df_test3.values[1,1]+df_test3.values[1,0],df_test3.values[0,0],df_test3.values[0,0]+df_test3.values[0,1])

In [206]:
result.relative_risk

0.9917915673673409

In [34]:
result.confidence_interval(confidence_level=0.95)[0]

0.9478490483087167

In [171]:
df_9.head()

      county                   aisle  anzahl  rank   rank_mean
29    Placer  air fresheners candles       1  36.0  108.600000
104  Trinity             asian foods      10  25.0   52.290909
212   Alpine       baby food formula    2647   9.0   34.600000
219   Fresno       baby food formula    5425  12.0   34.600000
220    Glenn       baby food formula    6390  13.0   34.600000

In [172]:
df_9.head().apply(lambda x: print(x),axis=1)

county                       Placer
aisle        air fresheners candles
anzahl                            1
rank                           36.0
rank_mean                     108.6
Name: 29, dtype: object
county           Trinity
aisle        asian foods
anzahl                10
rank                25.0
rank_mean      52.290909
Name: 104, dtype: object
county                  Alpine
aisle        baby food formula
anzahl                    2647
rank                       9.0
rank_mean                 34.6
Name: 212, dtype: object
county                  Fresno
aisle        baby food formula
anzahl                    5425
rank                      12.0
rank_mean                 34.6
Name: 219, dtype: object
county                   Glenn
aisle        baby food formula
anzahl                    6390
rank                      13.0
rank_mean                 34.6
Name: 220, dtype: object

29     None
104    None
212    None
219    None
220    None
dtype: object

In [176]:
df_2 = df.copy()

In [30]:
df_2

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county,order_size
0,5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo,8
1,5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo,8
2,5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo,8
3,5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo,8
4,5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132664,2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras,8
6132665,3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador,4
6132666,3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador,4
6132667,3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador,4
6132668,3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador,4

In [177]:
df_11 = df_2[df_2.aisle == "air fresheners candles"].groupby("county")[["aisle"]].count().reset_index()

In [178]:
df_11

             county  aisle
0           Alameda      6
1            Alpine     90
2            Amador     69
3         Calaveras    388
4            Colusa     19
5      Contra Costa     72
6         Del Norte     10
7         El Dorado      1
8            Fresno    143
9             Glenn    310
10         Humboldt      5
11         Imperial    259
12             Inyo     61
13             Kern     80
14            Kings     43
15             Lake    102
16           Lassen     32
17      Los Angeles     96
18           Madera     42
19            Marin    108
20         Mariposa    238
21        Mendocino     32
22           Merced     74
23            Modoc     40
24             Mono      3
25         Monterey    137
26             Napa     30
27           Nevada     10
28           Orange    158
29           Placer      1
30           Plumas     70
31        Riverside     49
32       Sacramento     26
33       San Benito     52
34        San Diego     34
35    San Francisco     48
36      San Joaquin      9
37  San Luis Obispo     30
38        San Mateo     30
39    Santa Barbara     37
40      Santa Clara     47
41       Santa Cruz     83
42           Shasta     16
43           Sierra     42
44         Siskiyou     28
45           Solano     18
46           Sonoma     10
47       Stanislaus     26
48           Sutter    186
49           Tehama      1
50           Tulare      7
51         Tuolumne      6
52          Ventura     99
53             Yolo     27
54             Yuba    108

In [182]:
merged

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county,order_size
0,5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo,8
1,5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo,8
2,5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo,8
3,5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo,8
4,5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132664,2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras,8
6132665,3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador,4
6132666,3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador,4
6132667,3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador,4
6132668,3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador,4

In [149]:
merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index()

             county  not_aisle
0           Alameda      16910
1            Alpine     133193
2            Amador     121043
3         Calaveras     502091
4            Colusa      34924
5      Contra Costa      96649
6         Del Norte      19300
7         El Dorado      15422
8            Fresno     357798
9             Glenn     390104
10         Humboldt       6396
11         Imperial     180862
12             Inyo      54726
13             Kern     292108
14            Kings      38635
15             Lake     144736
16           Lassen      23168
17      Los Angeles     157302
18           Madera     132381
19            Marin      78075
20         Mariposa     235570
21        Mendocino      52278
22           Merced     155272
23            Modoc      95042
24             Mono      29862
25         Monterey     240656
26             Napa      17719
27           Nevada      59360
28           Orange     395757
29           Placer        257
30           Plumas      59339
31        Riverside      47624
32       Sacramento      94927
33       San Benito      83660
34   San Bernardino        148
35        San Diego      24286
36    San Francisco     144662
37      San Joaquin       8094
38  San Luis Obispo      34640
39        San Mateo      91119
40    Santa Barbara     173489
41      Santa Clara      95172
42       Santa Cruz     158786
43           Shasta      40129
44           Sierra      29540
45         Siskiyou      70105
46           Solano      36482
47           Sonoma      16558
48       Stanislaus      27283
49           Sutter     286311
50           Tehama       8786
51          Trinity       1419
52           Tulare      16373
53         Tuolumne      32027
54          Ventura     250026
55             Yolo      70529
56             Yuba     149811

In [150]:
df_test = pd.merge(df_11,merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index())

In [153]:
df_test.loc[df_test.county != "Placer",["aisle","not_aisle"]] = df_test.loc[df_test.county != "Placer"].aisle.sum(),df_test.loc[df_test.county != "Placer"].not_aisle.sum()

In [160]:
df_test.loc[(df_test.county =="Alameda") | (df_test.county =="Placer") ]

     county  aisle  not_aisle
0   Alameda   3747    6127097
29   Placer      1        257

In [71]:
df_test = df_test.set_index("county")

KeyError: "None of ['county'] are in the columns"

#### des gleiche für departments

In [45]:
df_dep = df.groupby(["county","department"]).agg(anzahl=("department","count")).reset_index()

In [46]:
counties = df_dep.county.unique().tolist()
for i in counties:
    df_dep.loc[df_dep["county"] == i,"rank"] = df_dep.loc[df_dep["county"] == i].anzahl.rank(method="min",ascending=False)

In [160]:
df_dep

       county     department  anzahl  rank
0     Alameda        alcohol     170  15.0
1     Alameda         babies      40  16.0
2     Alameda         bakery     500   7.0
3     Alameda      beverages    2294   3.0
4     Alameda      breakfast     351  10.0
...       ...            ...     ...   ...
1168     Yuba         pantry    3244  10.0
1169     Yuba  personal care    3078  11.0
1170     Yuba           pets     552  18.0
1171     Yuba        produce   30046   1.0
1172     Yuba         snacks   20799   4.0

[1173 rows x 4 columns]

In [47]:
df_dep1 = df_dep.groupby("department").agg(rank_mean=("rank","mean")).reset_index()

In [48]:
df_dep2 = pd.merge(df_dep,df_dep1)

In [49]:
df_dep3 = df_dep2.loc[(df_dep2["rank"] > df_dep2.rank_mean * 1.5)]
df_dep4 = df_dep2.loc[(df_dep2["rank"] < df_dep2.rank_mean * 0.5)]

In [50]:
df_dep3.__len__()

33

In [51]:
df_2 = df.copy()
relevant3 = []
for i in df_dep3.values:
    
    df_11 = df_2[df_2.department == i[1]].groupby("county")[["department"]].count().reset_index()
    merged = df_2[~(df_2.index.isin(df_2[df_2.department == i[1]].index))]
    df_test = pd.merge(df_11,merged.groupby("county").agg(not_department=("department","count")).reset_index())
    df_test.loc[df_test.county != i[0],["department","not_department"]] = df_test.loc[df_test.county != i[0]].department.sum(),df_test.loc[df_test.county != i[0]].not_department.sum()
    
    ch2, p, dof, expected = chi2_contingency(df_test.loc[(df_test.county == np.delete(df_test.county.unique(),np.where(df_test.county.unique() == i[0]))[-1]) | (df_test.county ==i[0]) ].set_index("county"))
    
    if p < 0.05:
        relevant3.append(i)

In [52]:
relevant3.__len__()

32

In [210]:
df_test

             county  department  not_department
0           Alameda      547538         5568751
1            Alpine      547538         5568751
2            Amador      547538         5568751
3         Calaveras      547538         5568751
4            Colusa      547538         5568751
5      Contra Costa      547538         5568751
6         Del Norte      547538         5568751
7         El Dorado      547538         5568751
8            Fresno      547538         5568751
9             Glenn      547538         5568751
10         Humboldt      547538         5568751
11         Imperial      547538         5568751
12             Inyo      547538         5568751
13             Kern      547538         5568751
14            Kings      547538         5568751
15             Lake      547538         5568751
16           Lassen      547538         5568751
17      Los Angeles      547538         5568751
18           Madera      547538         5568751
19            Marin      547538         5568751
20         Mariposa      547538         5568751
21        Mendocino      547538         5568751
22           Merced      547538         5568751
23            Modoc      547538         5568751
24             Mono      547538         5568751
25         Monterey      547538         5568751
26             Napa      547538         5568751
27           Nevada      547538         5568751
28           Orange      547538         5568751
29           Placer      547538         5568751
30           Plumas      547538         5568751
31        Riverside      547538         5568751
32       Sacramento      547538         5568751
33       San Benito      547538         5568751
34   San Bernardino      547538         5568751
35        San Diego      547538         5568751
36    San Francisco      547538         5568751
37      San Joaquin      547538         5568751
38  San Luis Obispo      547538         5568751
39        San Mateo      547538         5568751
40    Santa Barbara      547538         5568751
41      Santa Clara      547538         5568751
42       Santa Cruz      547538         5568751
43           Shasta      547538         5568751
44           Sierra      547538         5568751
45         Siskiyou      547538         5568751
46           Solano      547538         5568751
47           Sonoma      547538         5568751
48       Stanislaus      547538         5568751
49           Sutter      547538         5568751
50           Tehama      547538         5568751
51          Trinity      547538         5568751
52           Tulare         702           15678
53         Tuolumne      547538         5568751
54          Ventura      547538         5568751
55             Yolo      547538         5568751
56             Yuba      547538         5568751

In [53]:
df_2 = df.copy()
relevant4 = []
for i in df_dep3.values:
    
    df_11 = df_2[df_2.department == i[1]].groupby("county")[["department"]].count().reset_index()
    merged = df_2[~(df_2.index.isin(df_2[df_2.department == i[1]].index))]
    df_test = pd.merge(df_11,merged.groupby("county").agg(not_department=("department","count")).reset_index())
    df_test.loc[df_test.county != i[0],["department","not_department"]] = df_test.loc[df_test.county != i[0]].department.sum(),df_test.loc[df_test.county != i[0]].not_department.sum()
    
    df_test3 = df_test.loc[(df_test.county == np.delete(df_test.county.unique(),np.where(df_test.county.unique() == i[0]))[-1]) | (df_test.county ==i[0]) ].set_index("county")
    result = relative_risk(df_test3[df_test3.index == i[0]].values[0][0],df_test3[df_test3.index == i[0]].values[0][1]+df_test3[df_test3.index == i[0]].values[0][0],df_test3[df_test3.index != i[0]].values[0][0],df_test3[df_test3.index != i[0]].values[0][1]+df_test3[df_test3.index != i[0]].values[0][0])
    if result.confidence_interval(confidence_level=0.99)[0] > 1:
            relevant4.append(i)

confidence intervall spatlen und zeilen vertauschen

In [54]:
relevant4.__len__()

0

In [178]:
df_dep3.head()

            county department  anzahl  rank  rank_mean
118       Humboldt     bakery     119  12.0   7.754386
156     Stanislaus     bakery     615  12.0   7.754386
192         Nevada  beverages    2051   8.0   4.070175
201  San Francisco  beverages    2138  13.0   4.070175
202    San Joaquin  beverages     280  10.0   4.070175

In [179]:
df_11 = df_2[df_2.department == "bakery"].groupby("county")[["department"]].count().reset_index()
merged = df_2[~(df_2.index.isin(df_2[df_2.department == "bakery"].index))]
df_test = pd.merge(df_11,merged.groupby("county").agg(not_department=("department","count")).reset_index())
df_test.loc[df_test.county != "Humboldt",["department","not_department"]] = df_test.loc[df_test.county != "Humboldt"].department.sum(),df_test.loc[df_test.county != "Humboldt"].department.sum()
    
df_test3 = df_test.loc[(df_test.county == np.delete(df_test.county.unique(),np.where(df_test.county.unique() == "Humboldt"))[-1]) | (df_test.county =="Humboldt") ].set_index("county")

In [180]:
df_test3

          department  not_department
county
Humboldt         119            6282
Yuba          223524          223524

In [185]:
df_test3[df_test3.index == "Humboldt"].values[0][1]

6282

In [186]:
result = relative_risk(df_test3[df_test3.index == "Humboldt"].values[0][1],df_test3[df_test3.index == "Humboldt"].values[0][1]+df_test3[df_test3.index == "Humboldt"].values[0][0],df_test3[df_test3.index != "Humboldt"].values[0][1],df_test3[df_test3.index != "Humboldt"].values[0][1]+df_test3[df_test3.index != "Humboldt"].values[0][0])

In [187]:
result.confidence_interval(confidence_level=0.95)

ConfidenceInterval(low=1.9540683785979154, high=1.9716074211379073)

#### gleiche für produkte

In [55]:
df_pro = df.groupby(["county","product_name"]).agg(anzahl=("product_name","count")).reset_index()
counties = df_pro.county.unique().tolist()
for i in counties:
    df_pro.loc[df_pro["county"] == i,"rank"] = df_pro.loc[df_pro["county"] == i].anzahl.rank(method="min",ascending=False)

In [56]:
df_pro

,county,product_name,anzahl,rank
0,Alameda,0% Fat Free Organic Milk,3,993.0
1,Alameda,0% Greek Strained Yogurt,120,8.0
2,Alameda,1% Low Fat Milk,7,457.0
3,Alameda,1% Milkfat Low Fat Vitamin A & D Milk,1,1930.0
4,Alameda,100 Calorie Per Bag Popcorn,12,259.0
...,...,...,...,...
579229,Yuba,with Olive Oil Mayonnaise,1,10261.0
579230,Yuba,with Olive Oil Mayonnaise Dressing,1,10261.0
579231,Yuba,with Twist Ties Sandwich & Storage Bags,4,5618.0
579232,Yuba,with Xylitol Original Flavor 18 Sticks Sugar F...,6,4318.0
579233,Yuba,with a Splash of Pineapple Coconut Water,1,10261.0

In [60]:
df_pro1 = df_pro.groupby("product_name").agg(rank_mean=("rank","mean")).reset_index()
df_pro2 = pd.merge(df_pro,df_pro1)
df_pro3 = df_pro2.loc[(df_pro2["rank"] > df_pro2.rank_mean * 1.5)]
df_pro4 = df_pro2.loc[(df_pro2["rank"] < df_pro2.rank_mean * 0.5)]

In [62]:
df_pro3[df_pro3.anzahl > 30]

,county,product_name,anzahl,rank,rank_mean
45,Calaveras,0% Greek Strained Yogurt,40,2295.0,1153.121951
131,Ventura,1% Low Fat Milk,31,1582.0,987.632653
1072,Modoc,100% Raw Coconut Water,34,493.0,257.641509
1406,Sacramento,100% Recycled Paper Towels,32,507.0,304.153846
1573,Colusa,100% Whole Wheat Bread,38,136.0,86.836364
...,...,...,...,...,...
302319,Glenn,Peanut Butter Creamy With Salt,33,2313.0,1322.000000
352173,Calaveras,Traditional Favorites Tomato & Basil Pasta Sauce,34,2696.0,1680.244444
366214,Alpine,White Onion,37,663.0,428.547170
366230,Los Angeles,White Onion,42,676.0,428.547170
366251,Santa Barbara,White Onion,48,700.0,428.547170

In [65]:
df_pro4[df_pro4.anzahl > 30]

,county,product_name,anzahl,rank,rank_mean
14,Los Angeles,0% Fat Free Organic Milk,43,654.0,2370.139535
17,Mariposa,0% Fat Free Organic Milk,46,900.0,2370.139535
32,Santa Cruz,0% Fat Free Organic Milk,88,269.0,2370.139535
40,Ventura,0% Fat Free Organic Milk,43,1087.0,2370.139535
43,Alameda,0% Greek Strained Yogurt,120,8.0,1153.121951
...,...,...,...,...,...
566668,Modoc,Simply Plain Yogurt Protein Drink With Crunchy...,31,551.0,7514.600000
570227,Marin,No Sugar Added Lemon & Cherry Flavor Real Ital...,31,403.0,6536.000000
570725,Ventura,Blanched Unsalted Hazelnuts (Filberts),35,1376.0,6152.666667
573307,Yolo,"Milk, Goat",53,194.0,2578.333333
573583,Solano,Asian Yogurt Green Tea Honey,31,172.0,7034.500000

In [66]:
df_2 = df.copy()
relevant5 = []
for i in df_pro3[df_pro3.anzahl > 30].values:
    
    df_11 = df_2[df_2.product_name == i[1]].groupby("county")[["product_name"]].count().reset_index()
    merged = df_2[~(df_2.index.isin(df_2[df_2.product_name == i[1]].index))]
    df_test = pd.merge(df_11,merged.groupby("county").agg(not_product_name=("product_name","count")).reset_index())
    df_test.loc[df_test.county != i[0],["product_name","not_product_name"]] = df_test.loc[df_test.county != i[0]].product_name.sum(),df_test.loc[df_test.county != i[0]].not_product_name.sum()
    
    ch2, p, dof, expected = chi2_contingency(df_test.loc[(df_test.county == np.delete(df_test.county.unique(),np.where(df_test.county.unique() == i[0]))[-1]) | (df_test.county ==i[0]) ].set_index("county"))
    
    if p < 0.05:
        relevant5.append(i)