In [69]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os 
import random
import plotly.express as px
from scipy.stats import chi2_contingency
import matplotlib.pyplot as plt

https://docs.scipy.org/doc/scipy/reference/stats.contingency.html

https://docs.scipy.org/doc/scipy/reference/stats.mstats.html

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.contingency.relative_risk.html#scipy.stats.contingency.relative_risk

Anteilswerttest

sachen to do: schnellere methode für den diff abgleich finden
              
              schauen ob andere test dafür geiegnet sind

              geomap rumprobieren

In [2]:
df = pd.read_parquet("Shopping Carts.parquet")
df.reset_index(inplace=True)

In [3]:
df.groupby("order_id").agg(order_size=("add_to_cart_order","max")).reset_index()
df = pd.merge(df,df.groupby("order_id").agg(order_size=("add_to_cart_order","max")).reset_index())

In [4]:
df

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county,order_size
0,5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo,8
1,5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo,8
2,5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo,8
3,5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo,8
4,5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132664,2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras,8
6132665,3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador,4
6132666,3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador,4
6132667,3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador,4
6132668,3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador,4

### regionale unterschiede

In [5]:
df_regional = df.groupby("county").agg(count = ("order_id","nunique")).reset_index()

In [6]:
df_regional = df_regional.sort_values("count")

In [7]:
exceptions = df_regional.head(3).county.unique()

In [23]:
df_regional.tail(10)

        county  count
42  Santa Cruz  19340
20    Mariposa  23234
25    Monterey  24142
54     Ventura  24684
49      Sutter  25420
13        Kern  31601
8       Fresno  32685
28      Orange  34496
9        Glenn  35541
3    Calaveras  43559

große diskrepanz in den ausleihzahlen besonder San Bernardino, Placer, Trinity als problemfall

dazu map

#### top produkte und aisle

In [8]:
df_products = df.groupby("product_name").agg(coun = ("product_name","count")).reset_index().sort_values("coun",ascending=False)

In [31]:
df_products.tail(50)

                                            product_name  coun
32797                                      Pork Shoulder     1
10315                  Creamy Supreme Frosting Chocolate     1
4711                       Body Powder Original Strength     1
41094       The Amazing Prune Light Prune Juice Cocktail     1
19176                                 Imperial Champagne     1
10285                         Creamy Oat Bran Hot Cereal     1
19119                                    Iced Tea, Lemon     1
19117                            Iced Tea with Raspberry     1
19027                         Ice Cream Cake Celebration     1
19047                Ice Cream Super Chunky Cookie Dough     1
32764                                Pore Refining Toner     1
19039                  Ice Cream Mexican Chili Chocolate     1
28320                           Organic Microgreens Kale     1
28321      Organic Microwave Light Butter Flavor Popcorn     1
28322           Organic Microwave Popcorn No Salt or Oil     1
40985  Tender Favorites Salmon & Crab Meat in Sauce W...     1
4833   BoomChickaPop Holidrizzle White Chocolate Pepp...     1
35924                           Salsa Verde Medium Salsa     1
4806                 Boneless Pork Rib Shaped Potty Meal     1
4838                          Borage Therapy Cleanse Bar     1
19025                    Ice Cream Bars Vanilla Flavored     1
19016                              Ic Caramel Cone 28 Oz     1
40972                                    Ten Orange Soda     1
28335               Organic Milk Chocolate Baking Wafers     1
40968                                 Tempura Batter Mix     1
4843                                            Bordeaux     1
19008                                Ibuprofen PM 200 Mg     1
13343                 Family Pack Chicken Breast Patties     1
19065  Ice Cream, Vanilla Bean Espresso, Limited Edition     1
41039                               Terry Scouring Cloth     1
4775                 Bone Strength Take Care Supplements     1
41038                             Terrine De Saumon Fume     1
13319                 Fajita Whole Wheat Flour Tortillas     1
4756                    Bolthouse Farms Baby Cut Carrots     1
4758                                          Bomba Rice     1
10279  Creamy Milk Chocolate with Crisped Rice Chocol...     1
4767                         Bone Broth Protein Turmeric     1
41028                                   Teriyaki Noodles     1
4774                             Bone Strength Take Care     1
35910                   Salsa Habanera, Green, Extra Hot     1
28300                        Organic Medium Chunky Salsa     1
4776                          Bone Up Calcium Supplement     1
4777                   Bone Up Superior Calcium Capsules     1
35911                     Salsa Habanera, Red, Extra Hot     1
10277               Creamy Milk & Honey Splash Body Wash     1
28279  Organic Mash Ups Tropical Flavored Squeezable ...     1
41011                                    Tequila, Blanco     1
19081                   Ice Sugar Free Gum, Arctic Chill     1
19075  Ice Peppermint Menthol Drops Cough Suppressant...     1
19683                         Jalapeño Heat Potato Chips     1

In [9]:
df_aisle = df.groupby("aisle").agg(coun = ("aisle","count")).reset_index().sort_values("coun",ascending=False)

In [10]:
df_aisle

                          aisle    coun
50                 fresh fruits  679534
53             fresh vegetables  639485
98   packaged vegetables fruits  333355
133                      yogurt  274700
93              packaged cheese  184845
..                          ...     ...
44                 eye ear care    1744
3           baby bath body care    1686
2              baby accessories    1463
8                        beauty    1195
58                 frozen juice     996

[134 rows x 2 columns]

#### oder_size je county

In [76]:
df

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county,order_size
0,5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo,8
1,5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo,8
2,5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo,8
3,5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo,8
4,5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132664,2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras,8
6132665,3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador,4
6132666,3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador,4
6132667,3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador,4
6132668,3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador,4

In [79]:
df_order_size = df.groupby(["order_id","county"])[["order_size"]].max().reset_index()

In [83]:
df_order_size = df_order_size.groupby("county")[["order_size"]].median().reset_index()

In [86]:
df_order_size.sort_values("order_size")

             county  order_size
0           Alameda         3.0
10         Humboldt         3.0
34   San Bernardino         3.0
29           Placer         3.5
4            Colusa         5.0
21        Mendocino         5.0
26             Napa         5.0
2            Amador         5.0
48       Stanislaus         6.0
47           Sonoma         6.0
51          Trinity         6.0
32       Sacramento         6.0
12             Inyo         6.0
15             Lake         6.0
44           Sierra         7.0
42       Santa Cruz         7.0
37      San Joaquin         7.0
55             Yolo         7.0
19            Marin         7.0
56             Yuba         7.0
38  San Luis Obispo         8.0
41      Santa Clara         8.0
7         El Dorado         8.0
6         Del Norte         8.0
30           Plumas         8.0
13             Kern         8.0
18           Madera         8.0
45         Siskiyou         8.0
16           Lassen         8.0
50           Tehama         8.0
23            Modoc         8.0
52           Tulare         8.0
27           Nevada         8.0
46           Solano         9.0
43           Shasta         9.0
54          Ventura         9.0
8            Fresno         9.0
20         Mariposa         9.0
35        San Diego         9.0
24             Mono         9.0
9             Glenn         9.0
33       San Benito         9.0
11         Imperial         9.0
25         Monterey         9.0
17      Los Angeles        10.0
49           Sutter        10.0
3         Calaveras        10.0
28           Orange        10.0
31        Riverside        10.0
39        San Mateo        10.0
36    San Francisco        10.0
14            Kings        11.0
40    Santa Barbara        11.0
1            Alpine        11.0
22           Merced        11.0
53         Tuolumne        11.0
5      Contra Costa        11.0

#### top aisle pro county

In [11]:
df_3 = df.groupby(["county","aisle"]).agg(anzahl=("aisle","count")).reset_index()

In [12]:
counties = df_3.county.unique().tolist()
for i in counties:
    df_3.loc[df_3["county"] == i,"rank"] = df_3.loc[df_3["county"] == i].anzahl.rank(method="min",ascending=False)

In [37]:
df_3

       county                          aisle  anzahl   rank
0     Alameda         air fresheners candles       6  115.0
1     Alameda                    asian foods      10  107.0
2     Alameda               baby accessories       1  126.0
3     Alameda            baby bath body care       1  126.0
4     Alameda              baby food formula      29   77.0
...       ...                            ...     ...    ...
7336     Yuba              trash bags liners     187   97.0
7337     Yuba           vitamins supplements     314   80.0
7338     Yuba  water seltzer sparkling water    7977    3.0
7339     Yuba                    white wines     375   71.0
7340     Yuba                         yogurt    8243    2.0

[7341 rows x 4 columns]

#### top 10 aisled pro county

In [13]:
df_4 = df_3[df_3["rank"].isin(range(11))]
df_4 = df_4.sort_values(["county","rank"])

In [14]:
df_4

       county                          aisle  anzahl  rank
49    Alameda                   fresh fruits    2824   1.0
52    Alameda               fresh vegetables     982   2.0
132   Alameda                         yogurt     933   3.0
130   Alameda  water seltzer sparkling water     821   4.0
97    Alameda     packaged vegetables fruits     610   5.0
...       ...                            ...     ...   ...
7290     Yuba                           milk    4686   6.0
7232     Yuba                 chips pretzels    4492   7.0
7249     Yuba            energy granola bars    3931   8.0
7324     Yuba                    soft drinks    3830   9.0
7300     Yuba                packaged cheese    3737  10.0

[571 rows x 4 columns]

In [40]:
df_3

       county                          aisle  anzahl   rank
0     Alameda         air fresheners candles       6  115.0
1     Alameda                    asian foods      10  107.0
2     Alameda               baby accessories       1  126.0
3     Alameda            baby bath body care       1  126.0
4     Alameda              baby food formula      29   77.0
...       ...                            ...     ...    ...
7336     Yuba              trash bags liners     187   97.0
7337     Yuba           vitamins supplements     314   80.0
7338     Yuba  water seltzer sparkling water    7977    3.0
7339     Yuba                    white wines     375   71.0
7340     Yuba                         yogurt    8243    2.0

[7341 rows x 4 columns]

#### frage wegen mengen bias (weil counties ja unterschiedliche ausleihzeilen haben dann den durchschnitt von je county nehmen oder den nochmal auf gesmatmenge projezieren)

In [15]:
df_5 = df_3.groupby("aisle").agg(rank_mean=("rank","mean")).reset_index()

In [16]:
df_6 = pd.merge(df_3,df_5)

In [17]:
df_8 = df_6.loc[(df_6["rank"] > df_6.rank_mean * 1.5)]

In [18]:
df_8[df_8.county.isin(exceptions)]

              county                       aisle  anzahl  rank  rank_mean
1301         Trinity                      cereal       1  75.0  22.854545
1358         Trinity              chips pretzels       9  26.0   9.719298
1690         Trinity               cookies cakes       1  75.0  39.666667
1730  San Bernardino                    crackers       1  30.0  18.947368
1747         Trinity                    crackers       8  30.0  18.947368
2230  San Bernardino                        eggs       1  30.0  17.771930
2302         Trinity         energy granola bars       1  75.0  22.854545
2725  San Bernardino                fresh fruits       5  11.0   1.508772
2888          Placer            fresh vegetables       8   6.0   2.315789
2893  San Bernardino            fresh vegetables       3  19.0   2.315789
3235         Trinity                frozen meals       3  57.0  24.181818
3382          Placer              frozen produce       1  36.0  15.857143
3879          Placer               ice cream ice       2  26.0  14.859649
4537          Placer                        milk       2  26.0   6.929825
4542  San Bernardino                        milk       4  13.0   6.929825
4831         Trinity      nuts seeds dried fruit       1  75.0  30.000000
5094  San Bernardino             packaged cheese       1  30.0   6.859649
5370  San Bernardino  packaged vegetables fruits       4  13.0   3.543860
5387         Trinity  packaged vegetables fruits      82   6.0   3.543860
5444         Trinity                 paper goods       2  66.0  35.754386
6474         Trinity         soup broth bouillon       5  44.0  26.818182
6514  San Bernardino             soy lactosefree       1  30.0  11.157895
6531         Trinity             soy lactosefree      14  22.0  11.157895
6850         Trinity                         tea       1  75.0  38.803571
6960         Trinity        tortillas flat bread       1  75.0  48.054545
7284         Trinity                      yogurt      25  12.0   4.018182

In [19]:
df_9 = df_6.loc[(df_6["rank"] < df_6.rank_mean * 0.5)]

In [20]:
df_9

       county                         aisle  anzahl  rank   rank_mean
29     Placer        air fresheners candles       1  36.0  108.600000
104   Trinity                   asian foods      10  25.0   52.290909
212    Alpine             baby food formula    2647   9.0   34.600000
219    Fresno             baby food formula    5425  12.0   34.600000
220     Glenn             baby food formula    6390  13.0   34.600000
...       ...                           ...     ...   ...         ...
7231  Trinity                   white wines       7  32.0   97.693878
7277   Sierra                        yogurt    1567   2.0    4.018182
7283   Tehama                        yogurt     718   1.0    4.018182
7289     Yuba                        yogurt    8243   2.0    4.018182
7293   Colusa  bulk grains rice dried goods     135  55.0  111.686275

[228 rows x 5 columns]

In [21]:
df_9[df_9.county.isin(exceptions)]

              county                       aisle  anzahl  rank   rank_mean
29            Placer      air fresheners candles       1  36.0  108.600000
104          Trinity                 asian foods      10  25.0   52.290909
510           Placer               beers coolers       2  26.0   84.634615
515   San Bernardino               beers coolers       8   4.0   84.634615
567   San Bernardino           body lotions soap       4  13.0   85.836364
...              ...                         ...     ...   ...         ...
6619          Placer  specialty wines champagnes       1  36.0  112.854167
6723          Placer                     spirits       3  20.0   95.979592
6728  San Bernardino                     spirits       2  24.0   95.979592
6833  San Bernardino                         tea       6   6.0   38.803571
7231         Trinity                 white wines       7  32.0   97.693878

[66 rows x 5 columns]

In [173]:
df_2 = df.copy()
for i in df_9.head().values:
    
    df_11 = df_2[df_2.aisle == i[1]].groupby("county")[["aisle"]].count().reset_index()
    merged = df_2.merge(df_2[df_2.aisle == i[1]],indicator=True,how="outer")
    merged = merged.loc[merged["_merge"] == "left_only"]
    df_test = pd.merge(df_11,merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index())
    df_test.loc[df_test.county != i[0],["aisle","not_aisle"]] = df_test.loc[df_test.county != i[0]].aisle.sum(),df_test.loc[df_test.county != i[0]].not_aisle.sum()
    ch2, p, dof, expected = chi2_contingency(df_test.loc[(df_test.county =="Alameda") | (df_test.county ==i[0]) ].set_index("county"))
    print(p)

0.3886016871794329
0.430366635739061
3.079459716602713e-160
3.360125579776243e-75
7.48389484632632e-154

In [184]:
df_2 = df.copy()
for i in df_9.head().values:
    
    df_11 = df_2[df_2.aisle == i[1]].groupby("county")[["aisle"]].count().reset_index()
    merged = df_2[~(df_2.index.isin(df_2[df_2.aisle == i[1]].index))]
    df_test = pd.merge(df_11,merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index())
    df_test.loc[df_test.county != i[0],["aisle","not_aisle"]] = df_test.loc[df_test.county != i[0]].aisle.median(),df_test.loc[df_test.county != i[0]].not_aisle.median()
    ch2, p, dof, expected = chi2_contingency(df_test.loc[(df_test.county =="Alameda") | (df_test.county ==i[0]) ].set_index("county"))
    print(p)

0.3613479235501478
0.22669578631959336
1.379306155077659e-78
3.118630641189331e-38
1.2917867215753157e-50

In [171]:
df_9.head()

      county                   aisle  anzahl  rank   rank_mean
29    Placer  air fresheners candles       1  36.0  108.600000
104  Trinity             asian foods      10  25.0   52.290909
212   Alpine       baby food formula    2647   9.0   34.600000
219   Fresno       baby food formula    5425  12.0   34.600000
220    Glenn       baby food formula    6390  13.0   34.600000

In [172]:
df_9.head().apply(lambda x: print(x),axis=1)

county                       Placer
aisle        air fresheners candles
anzahl                            1
rank                           36.0
rank_mean                     108.6
Name: 29, dtype: object
county           Trinity
aisle        asian foods
anzahl                10
rank                25.0
rank_mean      52.290909
Name: 104, dtype: object
county                  Alpine
aisle        baby food formula
anzahl                    2647
rank                       9.0
rank_mean                 34.6
Name: 212, dtype: object
county                  Fresno
aisle        baby food formula
anzahl                    5425
rank                      12.0
rank_mean                 34.6
Name: 219, dtype: object
county                   Glenn
aisle        baby food formula
anzahl                    6390
rank                      13.0
rank_mean                 34.6
Name: 220, dtype: object

29     None
104    None
212    None
219    None
220    None
dtype: object

In [176]:
df_2 = df.copy()

In [30]:
df_2

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county,order_size
0,5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo,8
1,5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo,8
2,5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo,8
3,5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo,8
4,5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132664,2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras,8
6132665,3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador,4
6132666,3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador,4
6132667,3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador,4
6132668,3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador,4

In [177]:
df_11 = df_2[df_2.aisle == "air fresheners candles"].groupby("county")[["aisle"]].count().reset_index()

In [178]:
df_11

             county  aisle
0           Alameda      6
1            Alpine     90
2            Amador     69
3         Calaveras    388
4            Colusa     19
5      Contra Costa     72
6         Del Norte     10
7         El Dorado      1
8            Fresno    143
9             Glenn    310
10         Humboldt      5
11         Imperial    259
12             Inyo     61
13             Kern     80
14            Kings     43
15             Lake    102
16           Lassen     32
17      Los Angeles     96
18           Madera     42
19            Marin    108
20         Mariposa    238
21        Mendocino     32
22           Merced     74
23            Modoc     40
24             Mono      3
25         Monterey    137
26             Napa     30
27           Nevada     10
28           Orange    158
29           Placer      1
30           Plumas     70
31        Riverside     49
32       Sacramento     26
33       San Benito     52
34        San Diego     34
35    San Francisco     48
36      San Joaquin      9
37  San Luis Obispo     30
38        San Mateo     30
39    Santa Barbara     37
40      Santa Clara     47
41       Santa Cruz     83
42           Shasta     16
43           Sierra     42
44         Siskiyou     28
45           Solano     18
46           Sonoma     10
47       Stanislaus     26
48           Sutter    186
49           Tehama      1
50           Tulare      7
51         Tuolumne      6
52          Ventura     99
53             Yolo     27
54             Yuba    108

In [181]:
merged = df_2[~(df_2.index.isin(df_2[df_2.aisle == "air fresheners candles"].index))]

In [182]:
merged

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county,order_size
0,5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo,8
1,5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo,8
2,5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo,8
3,5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo,8
4,5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132664,2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras,8
6132665,3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador,4
6132666,3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador,4
6132667,3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador,4
6132668,3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador,4

In [146]:
merged = df_2.merge(df_2[df_2.aisle == "air fresheners candles"],indicator=True,how="outer")

In [147]:
merged = merged.loc[merged["_merge"] == "left_only"]

In [148]:
merged

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county,order_size,_merge
0,5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo,8,left_only
1,5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo,8,left_only
2,5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo,8,left_only
3,5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo,8,left_only
4,5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo,8,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132664,2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras,8,left_only
6132665,3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador,4,left_only
6132666,3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador,4,left_only
6132667,3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador,4,left_only
6132668,3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador,4,left_only

In [149]:
merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index()

             county  not_aisle
0           Alameda      16910
1            Alpine     133193
2            Amador     121043
3         Calaveras     502091
4            Colusa      34924
5      Contra Costa      96649
6         Del Norte      19300
7         El Dorado      15422
8            Fresno     357798
9             Glenn     390104
10         Humboldt       6396
11         Imperial     180862
12             Inyo      54726
13             Kern     292108
14            Kings      38635
15             Lake     144736
16           Lassen      23168
17      Los Angeles     157302
18           Madera     132381
19            Marin      78075
20         Mariposa     235570
21        Mendocino      52278
22           Merced     155272
23            Modoc      95042
24             Mono      29862
25         Monterey     240656
26             Napa      17719
27           Nevada      59360
28           Orange     395757
29           Placer        257
30           Plumas      59339
31        Riverside      47624
32       Sacramento      94927
33       San Benito      83660
34   San Bernardino        148
35        San Diego      24286
36    San Francisco     144662
37      San Joaquin       8094
38  San Luis Obispo      34640
39        San Mateo      91119
40    Santa Barbara     173489
41      Santa Clara      95172
42       Santa Cruz     158786
43           Shasta      40129
44           Sierra      29540
45         Siskiyou      70105
46           Solano      36482
47           Sonoma      16558
48       Stanislaus      27283
49           Sutter     286311
50           Tehama       8786
51          Trinity       1419
52           Tulare      16373
53         Tuolumne      32027
54          Ventura     250026
55             Yolo      70529
56             Yuba     149811

In [150]:
df_test = pd.merge(df_11,merged.groupby("county").agg(not_aisle=("aisle","count")).reset_index())

In [153]:
df_test.loc[df_test.county != "Placer",["aisle","not_aisle"]] = df_test.loc[df_test.county != "Placer"].aisle.sum(),df_test.loc[df_test.county != "Placer"].not_aisle.sum()

In [160]:
df_test.loc[(df_test.county =="Alameda") | (df_test.county =="Placer") ]

     county  aisle  not_aisle
0   Alameda   3747    6127097
29   Placer      1        257

In [71]:
df_test = df_test.set_index("county")

KeyError: "None of ['county'] are in the columns"

In [72]:
df_test

                 aisle  not_aisle
county
Alameda              6      16910
Alpine              90     133193
Amador              69     121043
Calaveras          388     502091
Colusa              19      34924
Contra Costa        72      96649
Del Norte           10      19300
El Dorado            1      15422
Fresno             143     357798
Glenn              310     390104
Humboldt             5       6396
Imperial           259     180862
Inyo                61      54726
Kern                80     292108
Kings               43      38635
Lake               102     144736
Lassen              32      23168
Los Angeles         96     157302
Madera              42     132381
Marin              108      78075
Mariposa           238     235570
Mendocino           32      52278
Merced              74     155272
Modoc               40      95042
Mono                 3      29862
Monterey           137     240656
Napa                30      17719
Nevada              10      59360
Orange             158     395757
Placer               1        257
Plumas              70      59339
Riverside           49      47624
Sacramento          26      94927
San Benito          52      83660
San Diego           34      24286
San Francisco       48     144662
San Joaquin          9       8094
San Luis Obispo     30      34640
San Mateo           30      91119
Santa Barbara       37     173489
Santa Clara         47      95172
Santa Cruz          83     158786
Shasta              16      40129
Sierra              42      29540
Siskiyou            28      70105
Solano              18      36482
Sonoma              10      16558
Stanislaus          26      27283
Sutter             186     286311
Tehama               1       8786
Tulare               7      16373
Tuolumne             6      32027
Ventura             99     250026
Yolo                27      70529
Yuba               108     149811

In [161]:
ch2, p, dof, expected = chi2_contingency(df_test.loc[(df_test.county =="Alameda") | (df_test.county =="Placer") ].set_index("county"))

In [162]:
p

0.3886016871794329

In [163]:
expected

array([[3.74784228e+03, 6.12709616e+06],
       [1.57717813e-01, 2.57842282e+02]])

In [89]:
df_test = df_test.reset_index()

In [94]:
df_test.loc[df_test.county != "Placer"].aisle.sum()

3747

In [95]:
df_test.loc[df_test.county != "Placer"]["all"] = 0

C:\Users\paulh\AppData\Local\Temp\ipykernel_16080\1065071676.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test.loc[df_test.county != "Placer"]["all"] = 0

In [98]:
df_test

             county  aisle  not_aisle
0           Alameda      6      16910
1            Alpine     90     133193
2            Amador     69     121043
3         Calaveras    388     502091
4            Colusa     19      34924
5      Contra Costa     72      96649
6         Del Norte     10      19300
7         El Dorado      1      15422
8            Fresno    143     357798
9             Glenn    310     390104
10         Humboldt      5       6396
11         Imperial    259     180862
12             Inyo     61      54726
13             Kern     80     292108
14            Kings     43      38635
15             Lake    102     144736
16           Lassen     32      23168
17      Los Angeles     96     157302
18           Madera     42     132381
19            Marin    108      78075
20         Mariposa    238     235570
21        Mendocino     32      52278
22           Merced     74     155272
23            Modoc     40      95042
24             Mono      3      29862
25         Monterey    137     240656
26             Napa     30      17719
27           Nevada     10      59360
28           Orange    158     395757
29           Placer      1        257
30           Plumas     70      59339
31        Riverside     49      47624
32       Sacramento     26      94927
33       San Benito     52      83660
34        San Diego     34      24286
35    San Francisco     48     144662
36      San Joaquin      9       8094
37  San Luis Obispo     30      34640
38        San Mateo     30      91119
39    Santa Barbara     37     173489
40      Santa Clara     47      95172
41       Santa Cruz     83     158786
42           Shasta     16      40129
43           Sierra     42      29540
44         Siskiyou     28      70105
45           Solano     18      36482
46           Sonoma     10      16558
47       Stanislaus     26      27283
48           Sutter    186     286311
49           Tehama      1       8786
50           Tulare      7      16373
51         Tuolumne      6      32027
52          Ventura     99     250026
53             Yolo     27      70529
54             Yuba    108     149811

In [97]:
df_test.loc[df_test.county != "Placer"].append(["all",df_test.loc[df_test.county != "Placer"].aisle.sum(),df_test.loc[df_test.county != "Placer"].not_aisle.sum()])

C:\Users\paulh\AppData\Local\Temp\ipykernel_16080\2367690333.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test.loc[df_test.county != "Placer"].append(["all",df_test.loc[df_test.county != "Placer"].aisle.sum(),df_test.loc[df_test.county != "Placer"].not_aisle.sum()])

             county  aisle  not_aisle        0
0           Alameda    6.0    16910.0      NaN
1            Alpine   90.0   133193.0      NaN
2            Amador   69.0   121043.0      NaN
3         Calaveras  388.0   502091.0      NaN
4            Colusa   19.0    34924.0      NaN
5      Contra Costa   72.0    96649.0      NaN
6         Del Norte   10.0    19300.0      NaN
7         El Dorado    1.0    15422.0      NaN
8            Fresno  143.0   357798.0      NaN
9             Glenn  310.0   390104.0      NaN
10         Humboldt    5.0     6396.0      NaN
11         Imperial  259.0   180862.0      NaN
12             Inyo   61.0    54726.0      NaN
13             Kern   80.0   292108.0      NaN
14            Kings   43.0    38635.0      NaN
15             Lake  102.0   144736.0      NaN
16           Lassen   32.0    23168.0      NaN
17      Los Angeles   96.0   157302.0      NaN
18           Madera   42.0   132381.0      NaN
19            Marin  108.0    78075.0      NaN
20         Mariposa  238.0   235570.0      NaN
21        Mendocino   32.0    52278.0      NaN
22           Merced   74.0   155272.0      NaN
23            Modoc   40.0    95042.0      NaN
24             Mono    3.0    29862.0      NaN
25         Monterey  137.0   240656.0      NaN
26             Napa   30.0    17719.0      NaN
27           Nevada   10.0    59360.0      NaN
28           Orange  158.0   395757.0      NaN
30           Plumas   70.0    59339.0      NaN
31        Riverside   49.0    47624.0      NaN
32       Sacramento   26.0    94927.0      NaN
33       San Benito   52.0    83660.0      NaN
34        San Diego   34.0    24286.0      NaN
35    San Francisco   48.0   144662.0      NaN
36      San Joaquin    9.0     8094.0      NaN
37  San Luis Obispo   30.0    34640.0      NaN
38        San Mateo   30.0    91119.0      NaN
39    Santa Barbara   37.0   173489.0      NaN
40      Santa Clara   47.0    95172.0      NaN
41       Santa Cruz   83.0   158786.0      NaN
42           Shasta   16.0    40129.0      NaN
43           Sierra   42.0    29540.0      NaN
44         Siskiyou   28.0    70105.0      NaN
45           Solano   18.0    36482.0      NaN
46           Sonoma   10.0    16558.0      NaN
47       Stanislaus   26.0    27283.0      NaN
48           Sutter  186.0   286311.0      NaN
49           Tehama    1.0     8786.0      NaN
50           Tulare    7.0    16373.0      NaN
51         Tuolumne    6.0    32027.0      NaN
52          Ventura   99.0   250026.0      NaN
53             Yolo   27.0    70529.0      NaN
54             Yuba  108.0   149811.0      NaN
0               NaN    NaN        NaN      all
1               NaN    NaN        NaN     3747
2               NaN    NaN        NaN  6127097

In [90]:
df_test["alle"]

             county  aisle  not_aisle
0           Alameda      6      16910
1            Alpine     90     133193
2            Amador     69     121043
3         Calaveras    388     502091
4            Colusa     19      34924
5      Contra Costa     72      96649
6         Del Norte     10      19300
7         El Dorado      1      15422
8            Fresno    143     357798
9             Glenn    310     390104
10         Humboldt      5       6396
11         Imperial    259     180862
12             Inyo     61      54726
13             Kern     80     292108
14            Kings     43      38635
15             Lake    102     144736
16           Lassen     32      23168
17      Los Angeles     96     157302
18           Madera     42     132381
19            Marin    108      78075
20         Mariposa    238     235570
21        Mendocino     32      52278
22           Merced     74     155272
23            Modoc     40      95042
24             Mono      3      29862
25         Monterey    137     240656
26             Napa     30      17719
27           Nevada     10      59360
28           Orange    158     395757
29           Placer      1        257
30           Plumas     70      59339
31        Riverside     49      47624
32       Sacramento     26      94927
33       San Benito     52      83660
34        San Diego     34      24286
35    San Francisco     48     144662
36      San Joaquin      9       8094
37  San Luis Obispo     30      34640
38        San Mateo     30      91119
39    Santa Barbara     37     173489
40      Santa Clara     47      95172
41       Santa Cruz     83     158786
42           Shasta     16      40129
43           Sierra     42      29540
44         Siskiyou     28      70105
45           Solano     18      36482
46           Sonoma     10      16558
47       Stanislaus     26      27283
48           Sutter    186     286311
49           Tehama      1       8786
50           Tulare      7      16373
51         Tuolumne      6      32027
52          Ventura     99     250026
53             Yolo     27      70529
54             Yuba    108     149811