In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os 
import random
import plotly.express as px

In [2]:
df = pd.read_parquet("Shopping Carts.parquet")
df.reset_index(inplace=True)

In [3]:
df.groupby("order_id").agg(order_size=("add_to_cart_order","max")).reset_index()
df = pd.merge(df,df.groupby("order_id").agg(order_size=("add_to_cart_order","max")).reset_index())

In [28]:
df

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county,order_size
0,5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo,8
1,5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo,8
2,5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo,8
3,5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo,8
4,5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132664,2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras,8
6132665,3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador,4
6132666,3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador,4
6132667,3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador,4
6132668,3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador,4

regionale unterschiede

In [8]:
df_regional = df.groupby("county").agg(count = ("order_id","nunique")).reset_index()

In [19]:
df_regional = df_regional.sort_values("count")

In [57]:
exceptions = df_regional.head(3).county.unique()

In [23]:
df_regional.tail(10)

        county  count
42  Santa Cruz  19340
20    Mariposa  23234
25    Monterey  24142
54     Ventura  24684
49      Sutter  25420
13        Kern  31601
8       Fresno  32685
28      Orange  34496
9        Glenn  35541
3    Calaveras  43559

große diskrepanz in den ausleihzahlen besonder San Bernardino, Placer, Trinity als problemfall

dazu map

top produkte und aisle

In [30]:
df_products = df.groupby("product_name").agg(coun = ("product_name","count")).reset_index().sort_values("coun",ascending=False)

In [31]:
df_products.tail(50)

                                            product_name  coun
32797                                      Pork Shoulder     1
10315                  Creamy Supreme Frosting Chocolate     1
4711                       Body Powder Original Strength     1
41094       The Amazing Prune Light Prune Juice Cocktail     1
19176                                 Imperial Champagne     1
10285                         Creamy Oat Bran Hot Cereal     1
19119                                    Iced Tea, Lemon     1
19117                            Iced Tea with Raspberry     1
19027                         Ice Cream Cake Celebration     1
19047                Ice Cream Super Chunky Cookie Dough     1
32764                                Pore Refining Toner     1
19039                  Ice Cream Mexican Chili Chocolate     1
28320                           Organic Microgreens Kale     1
28321      Organic Microwave Light Butter Flavor Popcorn     1
28322           Organic Microwave Popcorn No Salt or Oil     1
40985  Tender Favorites Salmon & Crab Meat in Sauce W...     1
4833   BoomChickaPop Holidrizzle White Chocolate Pepp...     1
35924                           Salsa Verde Medium Salsa     1
4806                 Boneless Pork Rib Shaped Potty Meal     1
4838                          Borage Therapy Cleanse Bar     1
19025                    Ice Cream Bars Vanilla Flavored     1
19016                              Ic Caramel Cone 28 Oz     1
40972                                    Ten Orange Soda     1
28335               Organic Milk Chocolate Baking Wafers     1
40968                                 Tempura Batter Mix     1
4843                                            Bordeaux     1
19008                                Ibuprofen PM 200 Mg     1
13343                 Family Pack Chicken Breast Patties     1
19065  Ice Cream, Vanilla Bean Espresso, Limited Edition     1
41039                               Terry Scouring Cloth     1
4775                 Bone Strength Take Care Supplements     1
41038                             Terrine De Saumon Fume     1
13319                 Fajita Whole Wheat Flour Tortillas     1
4756                    Bolthouse Farms Baby Cut Carrots     1
4758                                          Bomba Rice     1
10279  Creamy Milk Chocolate with Crisped Rice Chocol...     1
4767                         Bone Broth Protein Turmeric     1
41028                                   Teriyaki Noodles     1
4774                             Bone Strength Take Care     1
35910                   Salsa Habanera, Green, Extra Hot     1
28300                        Organic Medium Chunky Salsa     1
4776                          Bone Up Calcium Supplement     1
4777                   Bone Up Superior Calcium Capsules     1
35911                     Salsa Habanera, Red, Extra Hot     1
10277               Creamy Milk & Honey Splash Body Wash     1
28279  Organic Mash Ups Tropical Flavored Squeezable ...     1
41011                                    Tequila, Blanco     1
19081                   Ice Sugar Free Gum, Arctic Chill     1
19075  Ice Peppermint Menthol Drops Cough Suppressant...     1
19683                         Jalapeño Heat Potato Chips     1

In [33]:
df_aisle = df.groupby("aisle").agg(coun = ("aisle","count")).reset_index().sort_values("coun",ascending=False)

In [34]:
df_aisle

                          aisle    coun
50                 fresh fruits  679534
53             fresh vegetables  639485
98   packaged vegetables fruits  333355
133                      yogurt  274700
93              packaged cheese  184845
..                          ...     ...
44                 eye ear care    1744
3           baby bath body care    1686
2              baby accessories    1463
8                        beauty    1195
58                 frozen juice     996

[134 rows x 2 columns]

top aisle pro county

In [35]:
df_3 = df.groupby(["county","aisle"]).agg(anzahl=("aisle","count")).reset_index()

In [36]:
counties = df_3.county.unique().tolist()
for i in counties:
    df_3.loc[df_3["county"] == i,"rank"] = df_3.loc[df_3["county"] == i].anzahl.rank(method="min",ascending=False)

In [37]:
df_3

       county                          aisle  anzahl   rank
0     Alameda         air fresheners candles       6  115.0
1     Alameda                    asian foods      10  107.0
2     Alameda               baby accessories       1  126.0
3     Alameda            baby bath body care       1  126.0
4     Alameda              baby food formula      29   77.0
...       ...                            ...     ...    ...
7336     Yuba              trash bags liners     187   97.0
7337     Yuba           vitamins supplements     314   80.0
7338     Yuba  water seltzer sparkling water    7977    3.0
7339     Yuba                    white wines     375   71.0
7340     Yuba                         yogurt    8243    2.0

[7341 rows x 4 columns]

top 10 aisled pro county

In [38]:
df_4 = df_3[df_3["rank"].isin(range(11))]
df_4 = df_4.sort_values(["county","rank"])

In [39]:
df_4

       county                          aisle  anzahl  rank
49    Alameda                   fresh fruits    2824   1.0
52    Alameda               fresh vegetables     982   2.0
132   Alameda                         yogurt     933   3.0
130   Alameda  water seltzer sparkling water     821   4.0
97    Alameda     packaged vegetables fruits     610   5.0
...       ...                            ...     ...   ...
7290     Yuba                           milk    4686   6.0
7232     Yuba                 chips pretzels    4492   7.0
7249     Yuba            energy granola bars    3931   8.0
7324     Yuba                    soft drinks    3830   9.0
7300     Yuba                packaged cheese    3737  10.0

[571 rows x 4 columns]

In [40]:
df_3

       county                          aisle  anzahl   rank
0     Alameda         air fresheners candles       6  115.0
1     Alameda                    asian foods      10  107.0
2     Alameda               baby accessories       1  126.0
3     Alameda            baby bath body care       1  126.0
4     Alameda              baby food formula      29   77.0
...       ...                            ...     ...    ...
7336     Yuba              trash bags liners     187   97.0
7337     Yuba           vitamins supplements     314   80.0
7338     Yuba  water seltzer sparkling water    7977    3.0
7339     Yuba                    white wines     375   71.0
7340     Yuba                         yogurt    8243    2.0

[7341 rows x 4 columns]

frage wegen mengen bias (weil counties ja unterschiedliche ausleihzeilen haben dann den durchschnitt von je county nehmen oder den nochmal auf gesmatmenge projezieren)

In [45]:
df_5 = df_3.groupby("aisle").agg(rank_mean=("rank","mean")).reset_index()

In [47]:
df_6 = pd.merge(df_3,df_5)

In [58]:
df_8 = df_6.loc[(df_6["rank"] > df_6.rank_mean * 1.5)]

In [61]:
df_8[df_8.county.isin(exceptions)]

              county                       aisle  anzahl  rank  rank_mean
1301         Trinity                      cereal       1  75.0  22.854545
1358         Trinity              chips pretzels       9  26.0   9.719298
1690         Trinity               cookies cakes       1  75.0  39.666667
1730  San Bernardino                    crackers       1  30.0  18.947368
1747         Trinity                    crackers       8  30.0  18.947368
2230  San Bernardino                        eggs       1  30.0  17.771930
2302         Trinity         energy granola bars       1  75.0  22.854545
2725  San Bernardino                fresh fruits       5  11.0   1.508772
2888          Placer            fresh vegetables       8   6.0   2.315789
2893  San Bernardino            fresh vegetables       3  19.0   2.315789
3235         Trinity                frozen meals       3  57.0  24.181818
3382          Placer              frozen produce       1  36.0  15.857143
3879          Placer               ice cream ice       2  26.0  14.859649
4537          Placer                        milk       2  26.0   6.929825
4542  San Bernardino                        milk       4  13.0   6.929825
4831         Trinity      nuts seeds dried fruit       1  75.0  30.000000
5094  San Bernardino             packaged cheese       1  30.0   6.859649
5370  San Bernardino  packaged vegetables fruits       4  13.0   3.543860
5387         Trinity  packaged vegetables fruits      82   6.0   3.543860
5444         Trinity                 paper goods       2  66.0  35.754386
6474         Trinity         soup broth bouillon       5  44.0  26.818182
6514  San Bernardino             soy lactosefree       1  30.0  11.157895
6531         Trinity             soy lactosefree      14  22.0  11.157895
6850         Trinity                         tea       1  75.0  38.803571
6960         Trinity        tortillas flat bread       1  75.0  48.054545
7284         Trinity                      yogurt      25  12.0   4.018182

In [59]:
df_9 = df_6.loc[(df_6["rank"] < df_6.rank_mean * 0.5)]

In [62]:
df_9

       county                         aisle  anzahl  rank   rank_mean
29     Placer        air fresheners candles       1  36.0  108.600000
104   Trinity                   asian foods      10  25.0   52.290909
212    Alpine             baby food formula    2647   9.0   34.600000
219    Fresno             baby food formula    5425  12.0   34.600000
220     Glenn             baby food formula    6390  13.0   34.600000
...       ...                           ...     ...   ...         ...
7231  Trinity                   white wines       7  32.0   97.693878
7277   Sierra                        yogurt    1567   2.0    4.018182
7283   Tehama                        yogurt     718   1.0    4.018182
7289     Yuba                        yogurt    8243   2.0    4.018182
7293   Colusa  bulk grains rice dried goods     135  55.0  111.686275

[228 rows x 5 columns]

In [63]:
df_9[df_9.county.isin(exceptions)]

              county                       aisle  anzahl  rank   rank_mean
29            Placer      air fresheners candles       1  36.0  108.600000
104          Trinity                 asian foods      10  25.0   52.290909
510           Placer               beers coolers       2  26.0   84.634615
515   San Bernardino               beers coolers       8   4.0   84.634615
567   San Bernardino           body lotions soap       4  13.0   85.836364
...              ...                         ...     ...   ...         ...
6619          Placer  specialty wines champagnes       1  36.0  112.854167
6723          Placer                     spirits       3  20.0   95.979592
6728  San Bernardino                     spirits       2  24.0   95.979592
6833  San Bernardino                         tea       6   6.0   38.803571
7231         Trinity                 white wines       7  32.0   97.693878

[66 rows x 5 columns]