In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os 
import random
import plotly.express as px

In [2]:
df = pd.read_parquet("Shopping Carts.parquet")

In [15]:
df.reset_index(inplace=True)

In [16]:
df

,index,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,product_name,aisle_id,department_id,department,aisle,county
0,5006171,1,13176,6,0,112108,4,4,10,9.0,1,Bag of Organic Bananas,24,4,produce,fresh fruits,Inyo
1,5006176,1,11109,2,1,112108,4,4,10,9.0,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16,dairy eggs,other creams cheeses,Inyo
2,5006175,1,10246,3,0,112108,4,4,10,9.0,1,Organic Celery Hearts,83,4,produce,fresh vegetables,Inyo
3,5006174,1,22035,8,1,112108,4,4,10,9.0,1,Organic Whole String Cheese,21,16,dairy eggs,packaged cheese,Inyo
4,5006173,1,49683,4,0,112108,4,4,10,9.0,1,Cucumber Kirby,83,4,produce,fresh vegetables,Inyo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132664,2493330,606914,28849,6,1,193225,18,5,13,4.0,1,No Salt Added Black Beans,59,15,canned goods,canned meals beans,Calaveras
6132665,3597250,606915,27966,1,0,107102,1,3,10,NaN,0,Organic Raspberries,123,4,produce,packaged vegetables fruits,Amador
6132666,3597251,606915,27845,4,0,107102,1,3,10,NaN,0,Organic Whole Milk,84,16,dairy eggs,milk,Amador
6132667,3597252,606915,26940,3,0,107102,1,3,10,NaN,0,Organic Large Green Asparagus,83,4,produce,fresh vegetables,Amador
6132668,3597253,606915,45007,2,0,107102,1,3,10,NaN,0,Organic Zucchini,83,4,produce,fresh vegetables,Amador

In [43]:
df_1 = df.groupby(["order_id","user_id"]).agg(count = ("user_id","nunique")).reset_index()

In [46]:
df_1["count"].unique()

array([1], dtype=int64)

:

Inputs = order-Größe;wochentag;bei welchem Anteil der bisherigen Bestellungen dieses users wurde Trinkgeld gegeben;county;Zusammensetzung dieser Bestellung früherer BEstellungen

Ziel: Vorhersage, ob ein User bei einer gerade aufgegeben Bestellung Trinkgeld geben wird

In [9]:
df.describe()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,tip,aisle_id,department_id
count,6.132669e+06,6.132669e+06,6.132669e+06,6.132669e+06,6.132669e+06,6.132669e+06,6.132669e+06,6.132669e+06,5.757096e+06,6.132669e+06,6.132669e+06,6.132669e+06
mean,3.034141e+05,2.555715e+04,8.347707e+00,5.891352e-01,1.034604e+05,1.708789e+01,2.736021e+00,1.343908e+01,1.138992e+01,4.474964e-01,7.137251e+01,9.941165e+00
std,1.751674e+05,1.409440e+04,7.132200e+00,4.919908e-01,5.942233e+04,1.749323e+01,2.097220e+00,4.256280e+00,8.934196e+00,4.972358e-01,3.817693e+01,6.286584e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,3.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
25%,1.517370e+05,1.351200e+04,3.000000e+00,0.000000e+00,5.243000e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00
50%,3.032450e+05,2.523000e+04,6.000000e+00,1.000000e+00,1.032530e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,0.000000e+00,8.300000e+01,9.000000e+00
75%,4.551400e+05,3.786600e+04,1.100000e+01,1.000000e+00,1.548280e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01,1.000000e+00,1.070000e+02,1.600000e+01
max,6.069150e+05,4.968800e+04,1.450000e+02,1.000000e+00,2.062010e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01,1.000000e+00,1.340000e+02,2.100000e+01

In [11]:
df.county.unique()

array(['Inyo', 'Calaveras', 'Monterey', 'Glenn', 'Plumas', 'Sacramento',
       'Santa Clara', 'Marin', 'San Francisco', 'San Luis Obispo',
       'San Mateo', 'Tuolumne', 'Mariposa', 'Los Angeles', 'Imperial',
       'Santa Barbara', 'Alpine', 'Fresno', 'Sutter', 'Orange',
       'Humboldt', 'Yuba', 'Kern', 'Mendocino', 'San Benito', 'Ventura',
       'Tulare', 'Modoc', 'Merced', 'San Diego', 'Siskiyou', 'Nevada',
       'Stanislaus', 'Amador', 'Contra Costa', 'Shasta', 'Riverside',
       'Santa Cruz', 'Sonoma', 'Madera', 'Lake', 'Del Norte', 'El Dorado',
       'Sierra', 'Yolo', 'Colusa', 'Alameda', 'Solano', 'Kings', 'Mono',
       'Napa', 'Lassen', 'San Joaquin', 'Tehama', 'Trinity', 'Placer',
       'San Bernardino'], dtype=object)

In [13]:
df.aisle.unique()

array(['fresh fruits', 'other creams cheeses', 'fresh vegetables',
       'packaged cheese', 'canned meat seafood', 'yogurt',
       'air fresheners candles', 'laundry', 'refrigerated', 'coffee',
       'tofu meat alternatives', 'ice cream ice',
       'frozen appetizers sides', 'lunch meat', 'soy lactosefree',
       'butter', 'trash bags liners', 'cookies cakes', 'oral hygiene',
       'dog food care', 'bread', 'poultry counter', 'frozen produce',
       'spices seasonings', 'grains rice dried goods',
       'water seltzer sparkling water', 'paper goods', 'frozen juice',
       'milk', 'baby food formula', 'breakfast bakery',
       'packaged produce', 'packaged vegetables fruits',
       'hot dogs bacon sausage', 'condiments', 'eggs',
       'soup broth bouillon', 'pickled goods olives',
       'fresh dips tapenades', 'chips pretzels',
       'bulk grains rice dried goods', 'mint gum', 'frozen pizza',
       'frozen dessert', 'missing', 'canned jarred vegetables',
       'nuts seeds dried fruit', 'frozen breakfast',
       'frozen meat seafood', 'packaged seafood', 'tortillas flat bread',
       'juice nectars', 'canned meals beans',
       'refrigerated pudding desserts', 'soap', 'canned fruit applesauce',
       'fresh herbs', 'baking ingredients', 'food storage',
       'plates bowls cups flatware', 'crackers', 'dish detergents',
       'specialty cheeses', 'oils vinegars', 'pasta sauce',
       'more household', 'hair care', 'instant foods',
       'baby bath body care', 'dry pasta', 'buns rolls',
       'doughs gelatins bake mixes', 'energy granola bars', 'spreads',
       'cleaning products', 'salad dressing toppings', 'feminine care',
       'bakery desserts', 'prepared soups salads', 'other',
       'meat counter', 'vitamins supplements', 'frozen breads doughs',
       'granola', 'protein meal replacements', 'packaged poultry',
       'soft drinks', 'frozen meals', 'popcorn jerky',
       'honeys syrups nectars', 'fruit vegetable snacks',
       'bulk dried fruits vegetables', 'cream', 'asian foods',
       'frozen vegan vegetarian', 'candy chocolate', 'seafood counter',
       'shave needs', 'fresh pasta', 'cereal', 'breakfast bars pastries',
       'hot cereal pancake mixes', 'prepared meals',
       'marinades meat preparation', 'kitchen supplies', 'cat food care',
       'beers coolers', 'spirits', 'tea', 'latino foods',
       'preserved dips spreads', 'deodorants', 'baking supplies decor',
       'diapers wipes', 'baby accessories', 'packaged meat',
       'body lotions soap', 'energy sports drinks', 'trail mix snack mix',
       'digestion', 'cocoa drink mixes', 'first aid', 'white wines',
       'eye ear care', 'red wines', 'muscles joints pain relief',
       'specialty wines champagnes', 'skin care', 'cold flu allergy',
       'beauty', 'indian foods', 'kosher foods', 'ice cream toppings',
       'facial care'], dtype=object)

In [ ]:
df.isna().any()

In [ ]:
df.dtypes

In [ ]:
df.order_dow

In [ ]:
df[df.days_since_prior_order.isna()]

In [ ]:
ind = df.groupby("user_id")[["index"]].min().reset_index()["index"]

In [ ]:
px.scatter(df.groupby("days_since_prior_order")["index"].count())

In [ ]:
df_1 = df.loc[df.index.isin(ind)]

In [ ]:
df_1

In [ ]:
px.scatter(df_1.groupby("days_since_prior_order")["index"].count())

In [ ]:
px.scatter(df.groupby("order_dow")["index"].count())

In [ ]:
px.scatter(df.groupby("order_hour_of_day")["index"].count())

In [ ]:
px.scatter(df.groupby("department")["index"].count())

In [ ]:
px.scatter(df.groupby("aisle")["index"].count())

In [ ]:
px.scatter(df.groupby("county")["index"].count())

In [ ]:
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

In [ ]:
# fig = px.choropleth(df, geojson=counties, locations='county', 
#                            scope="usa",
#                            featureidkey="properties.NAME"
                           
#                           )
# fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
# fig.show()